.search_icon, .search_icon_submit{  
     background-image: url("{{ 'search-icon.png' | asset_url }}");
}
.cart_icon{
    background-image: url('{{ "checkout-icon.png" | asset_url }}');
}
.cart_icon a .cart-item{
        left: 14px;
    top: -5px;
    width: 24px;
    height: 24px;
}

input.search-input{
    width: 187px;
}
.select-flag{
    width: 145px;
}
.select-flag ul{
    padding-left:0;
}
.imp_links ul li a{
    font-size:16px;
}
.ftr_title:after{
    margin : 0px 0px 11px;
}

.signup_field input[type="text"].form_control{
    background-image: url('{{ "signup_mail.jpg" | asset_url }}');
}
.form_control{
    height:30px;
}
.company_links{
    width: 150px;
}
.mission_content{
     
    box-sizing: content-box;
}
.wrapper{
    padding: 0px 0px;
}
.pillars{
    box-sizing: content-box;
}
.pillers_title{
    margin-bottom:0px;
}
.mission_item.bowl{
    background-size: contain;
    background-position: center;
}
.product_img{
    padding-bottom:0px;
}
.product_info_box{
    padding-top:8px;
}

.signup_field{
    text-align: center;
    padding-top: 18px;
}
.blog_img img{
    width:100%;
}
