@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'notera_personal_use_onlyRg';
    src: url('notera_personaluseonly-webfont.eot');
    src: url('notera_personaluseonly-webfont.eot?#iefix') format('embedded-opentype'),
         url('notera_personaluseonly-webfont.woff2') format('woff2'),
         url('notera_personaluseonly-webfont.woff') format('woff'),
         url('notera_personaluseonly-webfont.ttf') format('truetype'),
         url('notera_personaluseonly-webfont.svg#notera_personal_use_onlyRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebas_neuebold';
    src: url('bebasneue_bold-webfont.eot');
    src: url('bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_bold-webfont.woff2') format('woff2'),
         url('bebasneue_bold-webfont.woff') format('woff'),
         url('bebasneue_bold-webfont.ttf') format('truetype'),
         url('bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'times_new_romanregular';
    src: url('times_new_roman-webfont.eot');
    src: url('times_new_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('times_new_roman-webfont.woff2') format('woff2'),
         url('times_new_roman-webfont.woff') format('woff'),
         url('times_new_roman-webfont.ttf') format('truetype'),
         url('times_new_roman-webfont.svg#times_new_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'times_new_romanbold';
    src: url('timesbd-webfont.eot');
    src: url('timesbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('timesbd-webfont.woff2') format('woff2'),
         url('timesbd-webfont.woff') format('woff'),
         url('timesbd-webfont.ttf') format('truetype'),
         url('timesbd-webfont.svg#times_new_romanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'times_new_romanbold_italic';
    src: url('timesbi-webfont.eot');
    src: url('timesbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('timesbi-webfont.woff2') format('woff2'),
         url('timesbi-webfont.woff') format('woff'),
         url('timesbi-webfont.ttf') format('truetype'),
         url('timesbi-webfont.svg#times_new_romanbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
  		 url('HelveticaNeue-Bold.otf')  format('opentype'),
	     url('HelveticaNeue-Bold.woff') format('woff'), 
		 url('HelveticaNeue-Bold.ttf')  format('truetype'), 
		 url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'manustrialmanustrial';
    src: url('mns_trial-webfont.eot');
    src: url('mns_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('mns_trial-webfont.woff2') format('woff2'),
         url('mns_trial-webfont.woff') format('woff'),
         url('mns_trial-webfont.ttf') format('truetype'),
         url('mns_trial-webfont.svg#manustrialmanustrial') format('svg');
    font-weight: normal;
    font-style: normal;

}
