
/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
    float: left;
    width:100%;
    position: relative;
    height:108px;
    z-index: 999999;
}
.mean-container a.meanmenu-reveal {
    width: 74px;
    height: 48px;
    padding: 15px 13px 13px 0px;
    position: absolute;
    cursor: pointer;
    display: block;
    top: 11px;
    left: 25px !important;
}
.mean-container a.meanmenu-reveal span {
    display: block;
    background: #606060;
    height: 8px;
    margin-top: 8px;
    border-radius: 4px;
}
.mean-container .mean-nav {
    float: left;
    width: 85%;
    background: #fff;
    margin-top: 109px;
    position: absolute;
    left: -140%;
    transition: all 0.4s;
    box-shadow: 5px 3px 5px rgba(0,0,0,0.26);
}
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}
.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 80%;
    margin: 0 10%;
    border-bottom: 1px solid #b7b7b7;
}
.main_menu_mobile li:last-child{
	border:none;
	
}
.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 100%;
    padding: 24px 6%;
    margin: 0;
    text-align: left;
    color: #606060;
    font-family: 'bebas_neuebold';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;
    box-sizing: border-box;
}
.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-bottom: 1px solid #f1f1f1;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover {
	color:#fc9486;
}
.mean-container .mean-nav ul li a.mean-expand {
	width: 26px;
	height: 26px;
	border: none !important;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
	background: none;
}
.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}
.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

.mean-nav.intro {
    left: 0;
    transition: all 0.4s;
	top:0
}
.mean-container .mean-nav > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}
/*.mean-container .mean-nav.intro > ul{
	display:block !important;
}*/

.meanclose span:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 16px;
    left: 1px;
}
.meanclose span:nth-child(2n){
	transform:rotate(-45deg);
	transition:all 0.4s;
}

