/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 479px) {
.container{
	/*background:#CFF;*/		
	width:310px;
	padding:0 5px;
}
body{
    -webkit-text-size-adjust: none;
}
.js .nav-collapse{
 	left:-479px;	
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
.mb_menu_title{
	display:block;
}
.mb_menu_title{
	display:block;
}
.content_title h2:before, .content_title h2:after {
    content: '';
    width: 15px;
	display:none;
}

.js .nav-collapse{
 	left:-768px;	
}
.dp_view{
	display:none;
}
.mb_view{
	display:block;
}
.topbar .container{
	width:100%;
	padding:0;
}
.mean-container .mean-bar {
    height: 70px;
}

.social-icons.dp_view {
    display:none;
}
.People-fed-dropdown p {
    margin: 15px 0 13px;
}
.People-fed-dropdown h1 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 5px;
}
.People-fed-dropdown {
    padding: 20px 20px;
    width: 100%;
}
.account-and-social {
    float: right;
    padding: 8px 0;
    position: relative;
    right: 6px;
}
.mean-container a.meanmenu-reveal {
    width: 44px;
    height: 36px;
    top: 0px;
	left: 10px !important;
	padding: 15px 0px 13px 0px;
}
.mean-container a.meanmenu-reveal span {
    height: 6px;
    margin-top: 6px;
    border-radius: 2px;
}
.utility-section {
    position: relative;
    z-index: 9999;
    padding: 14px 0 12px;
}
.logo {
    position: absolute;
    width: 160px;
    left: 50%;
    margin-left: -80px;
}
.meanclose span:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 12px;
    left: 0px;
}
.mobile_search .search-form {
    display: block;
    top: 0;
}
.search-bar.mobile_search {
    width: 100%;
    height: 40px;
    float: none;
    margin: auto;
    position: relative;
}
input.search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 40px;
    padding-left:60px;
}
.mobile_search .search-form-mobile input[type="submit"] {
    top: 10px;
    left: 26px;
    margin: 0;
    right: auto;
    width: 22px;
    height: 22px;
    background-size: 100%;
    float: none;
    position: absolute;
}
.main_menu{
	float:left;
	width:78px;
}
.mean-container .mean-nav ul li a {
    padding: 15px 6%;
    font-size: 24px;
}
.mean-container .mean-nav {
    width: 85%;
    margin-top: 72px;
}
.mb_menu_title {
    line-height: 55px;
    font-size: 24px;
}
.mean-container .mean-nav ul li a.tick_mark {
    background: url(../images/tick_mark.jpg) no-repeat right 17px;
    background-size: 20px;
}

.logo-section .container {
    position: static;
}
.logo-section {
    position: relative;
}
.logo-section .container{
	padding:0;
	overflow:visible;
}
.mobile_menu{
	display:block;
}
.cart_section {
    top: 2px;
    margin-left: 0;
    right: 10px;
}
.pillars {
    padding: 0;
    width: 100%;
    float: none;
}
.product_list .product_item {
    width:310px;
    margin: 20px 0px 0 0;
}
.product_list .product_item:nth-child(2n) {
    margin: 20px 0px 0 0;
}
.product_img, .product_item .img_overlay, .grid figure .img_overlay > a {
    height: 310px;
    width: 310px;
}
#shop_product {
    padding: 30px 0 30px;
}
.product_item img {
    height: 100%;
    width: 100%;
}
#brackfast_banner .container, #our_mission .container{
	width:100%;
	padding:0;
}
#our_mission .dividers_hr {
    width: 30%;
    height: 3px;
    margin: 20px auto;
    float: none;
}
.spices, .signup, .blog_img, .blog_prg {
    width: 100%;
    float: left;
	margin:0 0 22px 0;
}
.signup_field h5 {
    width: 100%;
    margin-bottom: 4px;
    font-size: 14px;
}
.signup_field input[type="text"].form_control {
    width: 150px;
}
.signup_field {
    padding: 10px 15px;
    margin-top: -80px;
}
.shipping_add h4 {
    font-size: 18px;
    padding: 9px 0;
}
#spices_signup {
    margin-bottom: 10px;
}
.signup_field .mail_submit {
    width: 70px;
}
#blog_post {
    padding: 30px 0 0px;
}
.signup_field.nsignup {
    padding:0px;
    margin-top:0px;
}
.signup_field.nsignup input[type="text"].form_control {
    width: 156px;
    height: 30px;
    background-size: 33px;
    padding-left: 48px;
}
.signup_field.nsignup .mail_submit {
    width: 80px;
    height: 34px;
    font-size: 22px;
}
.socila_icon ul li a {
    width: 30px;
    height: 30px;
}

.imp_links {
    float: left;
    width: 748px;
}
.our_contact {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.socila_icon {
    float: none;
    text-align: center;
}
.all_right {
    width: 70%;
    float: none;
    font-size: 28px;
    text-align: center;
    display: inline-block;
}
.socila_icon ul li {
    float: none;
    display: inline-block;
}
.newsletter {
    width: 100%;
    float: none;
}
.right_part {
    width: 100%;
    float: none;
}
.all_right a {
    font-size: 28px;
	margin-top:15px;
}
.newsletter {
    width: 100%;
    float: none;
    text-align: center;
}
.ftr_title:after {
    content: '';
    margin: 2px auto 11px;
}
.imp_links {
    float: none;
    width: 100%;
    margin-top: 30px;
}
.company_links, .shop_links, .account_links {
    width: 33%;
    float: left;
    text-align: center;
}

.call_mail {
    font-size: 28px;
    margin-bottom: 10px;
}
.footer_logo{
	margin-top:10px;
}

.thumb_slider .bx-wrapper .bx-viewport {
    margin-top: 20px;
}
.thumb_slider .bx-wrapper {
    margin: 0 auto 0px;
    padding: 0;
}
.thumb_slider .bx-wrapper img {
    width: 100%;
    display: block;
}
#footer {
    margin-top: 20px;
}


/*=============  shop_page  ========*/

.filter_nav {
    margin-top: 30px;
    padding-left:0px;
}
.filter_nav li {
    float: left;
    padding: 0 13px 0px;
}
#items.product_list .product_item {
    margin: 30px 0px 0 0;
    min-height: 260px;
}
.cetegories_product .product_list .product_item {
    margin-top: 30px !important;
}


#demo-2 input[type=search] {
    width: 220px !important;
    padding-left: 40px;
    color: #000;
    cursor: auto;
    border: 1px solid #CCC;
    background: url(../images/search-icon.png) no-repeat 10px center;
	float:none;
}
.product_sort {
    padding: 7px 18px 6px 18px;
    border: 1px solid #d4d4d4;
}
.select-style {
    width: 158px;
    float: none;
    border-right: none;
    margin: 10px 0;
}
#demo-2 {
    float: none;
}

.filter_block {
    margin-right:0px;
}


/*=============  search_page  ========*/

.search_page_title h1 {
    font-size: 22px;
    padding-left: 15px;
    letter-spacing: 1px;
}


/*=============  prodcut_details  ========*/

.product_main_img {
    width: 310px;
    float: left;
    margin-right: 0;
}

#bx-pager{
	display:none;
}
.product_info_details {
    width: 100%;
}
.select_box {
    padding:7px 15px;
    border: 4px solid #eff0ea;
    margin: 0;
}
.add_product form .select_box:first-child{
	margin-right:5px;
}
.add_product {
    margin: 35px 0px 0;
}
.add_product .select_box:last-child{
	margin:0;
}

.great_recipes .product_list .product_item {
    width: 152px;
    margin: 20px 6px 0 0;
}

.great_recipes  .product_list .product_item:nth-child(2n) {
    margin: 20px 0px 0 0;
	width: 152px;
}

.great_recipes .product_img, .great_recipes .product_item .img_overlay, .grid figure .img_overlay > a {
    width: 152px;
    height:152px;
}

h6.tag, .product_decription ul li h5 {
    font-size: 20px;
}
.review_box {
    padding: 15px 12px;
    width: 286px;
    margin-top: 30px;
}
.writer_info{
    display: block;
	width:100%;
	margin-bottom:8px;
}
.review_cmt  {
    display: block;
	width:100%;
    padding-left: 0px;
}
.write_img {
    display: none;
}
.writer_info h6{
	float:left;	
}
.wrt_login_logout{
	float:right;
}
.writer_info:after, .review_cmt form:after{
	content:'';
	clear:both;
	display:block;
}
.star_count {
    margin: 10px 0;
    float: left;
}
.post {
    width: 100%;
}
.all_reviews {
    width: 100%;
    margin: 20px 0 0 0;
}
.review_writer {
    width: 20%;
}
.review_writer img{
	max-width:100%;
}
.reviews {
    width: 75%;
    padding-left: 5%;
}

.yesorno a {
    padding: 0 10px 0px 0;
    margin-right: 10px;
}
.reviews .dividers_vr {
    margin-top: 20px;
    width: 130px;
}
.smoothing h2 {
    font-size:28px;
    margin-top: 0px;
}
/*===================================   Recipe   =========================*/


#taste-club {
    padding: 30px 0 0px;
}
.r_search_box {
    padding: 12px;
}
.search-recipes-input {
    width: 225px;
}
.filter_section {
    float: right;
    margin-top: 15px;
    margin-right: 17px;
}
.filter_icon:after {
    content: '';
    height: 29px;
    right: -18px;
    position: relative;
}
.filter_icon {
    width: 23px;
    height: 29px;
    background-size: 100%;
}

.filter_section h3 {
    line-height: 29px;
    margin-right: 10px;
}
.remort-filter {
    right:5px;
    width: 254px;
}
.Recipes_main_title {
    font-size: 60px;
}
.resipes_list .filter_nav li {
    float: left;
    padding: 0 19px 8px 0;
}


/*================== recipes_details   =======================*/

.recipes_main_img {
    width:100%;
    margin-right:00px;
}
.recipes_info_details {
    width:100%;
	margin-top:15px;
}
.recipes_info_details .product_nameprice h2.name {
    line-height: 1;
}
.method_step {
    width: 100%;
}

.recipes_prodcut .product_item:hover .img_overlay > a {
    opacity: 1;
    top: 36%;
}
.recipes_prodcut .product_item .img_overlay > a {
    width:80%;
    box-shadow: 0px 3px 7px rgba(0,0,0,.45);
    margin: 10px auto;
}
.btn_style2 {
    padding: 7px 0;
}
.recipes_prodcut .product_item .img_overlay > a {
    font-size: 18px;
}

/*================== taste_clube   =======================*/

.mission_about .pillars {
    padding: 0px 0 30px 0;
    width: 100%;
}
.how_works .mission_item.works_2 {
    width: 78px;
    background-size: 100%;
}
.how_works .mission_item {
    height: 48px;
}
.how_works .mission_item.works_1 {
    width: 50px;
	background-size: 100%;
}

.how_works .mission_item.works_3 {
    width: 50px;
    background-size: 100%;
}
#our_mission.how_works .container {
    width:310px;
    padding: 0;
}
.love_logo {
    margin: 12px auto;
    width: 80px;
}
.love_logo img{
	max-width:100%;
}
.form_box {
    border: 4px solid #fff;
    padding: 13px 12px 0px;
    width: 264px;
}
.started_form textarea.form_control {
    width: 232px;
    height: 50px;
	margin:0 0 6px 0;
}
#filled_with_love {
    padding: 30px 0 30px;
}
.started_form .form_control:nth-child(2n) {
    margin: 0 0 6px 0;
}
.started_form .form_control, .started_form .form_control.apt_init {
    width: 232px;
	margin:0 0 6px 0;
}
.wSelect-theme-classic.wSelect {
    width: 262px !important;
    margin: 0 0 6px 0;
}
.form_box h1 {
    font-size: 40px;	
}
.signup_start {
    font-size: 26px;
    padding: 4px 0px;
    margin: auto;
    position: relative;
    top: 18px;
    width: 100%;
}
.started_bg {
    padding: 40px 0 50px;
}
.mission_about.mission_content {
    padding: 25px 0 16px;
}
#our_mission.how_works {
    padding: 30px 0 30px;
}
#inside_box {
    padding:30px 0;
}

/*==================  Sales  =======================*/
.sales_list .sales_item {
    margin:25px 0px 0 0;
    width: 310px;
}
.sales_img, .sales_list .sales_item .sales_img_overlay {
    height:260px;
    width:310px;
}

.sales_info_box a.sales_title, .sales_info_box .old_new_price {
    float: none;
}
.old_new_price:before {
    display:none;
}
.old_new_price h5 {
    font-size: 28px;
    margin: 5px 15px 5px 0;
}
.sales_info_box a.sales_title {
    font-size: 28px;
}
.sales_info_box {
    padding: 10px;
}

/*==================   Checkout Confirm  =======================*/

.confirm_width h1 {
    font-size: 42px;
}
.confirm_pg {
    width: 100%;
}

.menu_text {
    text-align: center;
    padding: 18px 0;
    font-family: 'notera_personal_use_onlyRg';
    font-size: 40px;
    color: #fc9486;
}


/*==================   blog_list  =======================*/

.blog_side_bar {
    width: 100%;
    padding: 0px;
    margin: 30px 0 0 0;
}
.blog_main_item, .blog_main_img, .blog_info  {
    width:100%;
}
.articles_img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.articles_title a{
	font-size:20px;
}
.blog_title a {
    font-size:30px;
}
.blog_pg p firstletter {
    margin: 12px 15px 1px -1px;
    font-size: 65px;
    line-height: 0.5;
}
h1.main_title {
    font-family: 'notera_personal_use_onlyRg';
    font-size: 50px;
    margin-bottom: 20px;
}

/*==================   404 error  =======================*/

.error_width {
    width:100%;
    margin: auto;
}
.error_img {
    width: 265px;
	display:none;
}
.error_text {
    width:100%;
    margin-left:0px;
	text-align:center;
	float:none;
}
.error_text h1 {
    font-size: 158px;
    line-height: 120px;
    margin-top: 0px;
}
.error_text h2 {
    font-size: 60px;
    color: #b7b7b7;
}
.error_text p{
	font-size:18px;
	line-height:22px;
}
a.back_btn {
    font-size: 22px;
    margin-top: 24px;
}
#error_page {
    padding: 40px 0 30px;
}

/*==================  about  =======================*/

.feed_love_banner {
    height: 200px;
    background-size: cover;
}
#Mission_Statement {
    padding: 30px 0 30px;
}
.our_tem {
    width: 90%;
}
.about_img, .stroy_img {
    margin-top: 30px;
}
.caption h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.caption .caption_pg {
    width: 95%;
}
.caption .caption_pg p, .caption .caption_pg span {
    font-size: 20px;
}
.caption {
    margin-top: -68px;
}
#our_mission.eat_feed_love .container{
	width:310px;	
}
#why_we_love {
    padding: 24px 0 0;
}


/*==================  checkout  =======================*/
.confirm_cart_address {
    width: 100%;
    margin: 30px auto 0;
}
.buy_process {
    margin: 0 auto;
    width: 100%;
}
.process_title {
    width: 33.33%;
}
.confirm_address {
    width:100%;
	margin-top:30px;
}
.perfectly_cart {
    padding: 4px 35px;
}

.confirm_cart {
    width: 100%;
    float: right;
}
.perfectly_img {
    width: 150px;
    height: 125px;
    display: table-cell;
}
.confirm_cart .cart_pro_list {
    padding: 0 30px 40px;
}
.confirm_cart .cart_pro_list .cart_pro_item:nth-child(2n) {
    margin: 25px 0px 0 0;
}
.confirm_cart .cart_pro_list .cart_pro_item {
    margin: 25px 30px 0 0;
}
.process_title a {
    font-size: 20px;
}
.process_title:after {
    height: 20px;
}
.confirm_cart .cart_pro_list .cart_pro_item {
    width: 105px;
}
.pro_cart_img {
    width: 105px;
}
.pro_cart_img img {
    width: 100%;
}
.cart_pro_list .cart_pro_item .remove-select select {
    width: 83px;
}
.price_table {
    padding: 14px 30px 15px;
}
.btn_style.order {
    font-size: 26px;
	letter-spacing:1px;
    padding: 6px 0px;
    width: 100%;
}
.perfectly_img {
    width: 100%;
    height: auto;
    display: block;
}
.perfectly_title {
    width: 100%;
    height: auto;
    display: block;
	padding:15px 0;
}
.perfectly_img img {
    width: 100%;
}

/*==================  cart  =======================*/

.cart_page .cart_pro_list .cart_pro_item:nth-child(2n) {
    margin: 25px 00px 0 0;
}
.cart_page .cart_pro_list .cart_pro_item {
    width: 145px;
    margin: 25px 20px 0 0;
}

.cart_page .cart_pro_list .cart_pro_item .remove-select select {
    width: 113px;
}
.cart_page .price_rw {
    width: 100%;
    font-size: 20px;
}
.cart_page {
    margin-top: 0px;
}

.checkout {
    display: inline-block;
    font-size: 24px;
    padding: 7px 0px;
    margin-top:0px;
    width: 100%;
}
h4 .close_arrow {
    background: url(../images/close-arrow.png) no-repeat center;
    width: 17px;
    height: 29px;
    top: 13px;
    right: 25px;
    background-size: 100%;
}



/*============    giving_back    ================= */



.work_info {
    width: 100%;
}
.solution_img {
    width: 100%;
    padding: 0;
	margin-bottom:30px;
}

.solution_info {
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0 !important;
}

.steps_cnt {
    display: block;
    margin: 0 auto 90px;
}
.steps_cnt .next-step {
    top: auto;
    right: 50%;
    transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
    bottom: -60px;
    margin: 0 -30px 0 0;
}
.steps_cnt h6 {
    font-size: 20px;
}
.Charities_group {
    width: 90%;
    float: none;
    padding: 0;
    margin: 0 auto 30px;
}

#Charities {
    padding-bottom: 30px;
}

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 480px)
and (max-width : 767px) {
.container{
/*	background:#F00;*/
	width:470px;
	padding:0 5px;
}
body{
    -webkit-text-size-adjust: none;
}
.mb_menu_title{
	display:block;
}
.mb_menu_title{
	display:block;
}

.js .nav-collapse{
 	left:-768px;	
}
p {
    font-family: 'times_new_romanregular';
    font-size: 24px;
    color: #606060;
    line-height:28px;
}
.dp_view{
	display:none;
}
.mb_view{
	display:block;
}
.topbar .container{
	width:100%;
	padding:0;
}
.account{
	position:relative;
	right:20px;
}
.social-icons.dp_view {
    display:none;
}
.account-and-social {
    float: right;
    padding: 8px 0;
}
.logo {
    position: absolute;
    padding: 14px 0;
    width: 296px;
    text-align: center;
    top: 0;
    margin: auto;
    left: 50%;
    margin-left: -148px;
}

.mobile_search .search-form {
    display: block;
    top: 0;
}
.search-bar.mobile_search {
    width: 100%;
    height: 60px;
    float: none;
    margin: auto;
    position: relative;
}
input.search-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 60px;
    padding-left: 70px;
}
.mobile_search .search-form-mobile input[type="submit"] {
    top: 15px;
    left: 26px;
    margin: 0;
    right: auto;
    width: 32px;
    height: 32px;
    background-size: 100%;
    float: none;
    position: absolute;
}
.main_menu{
	float:left;
	width:78px;
}

.logo-section {
    position: relative;
}
.logo-section .container{
	padding:0;
	overflow:visible;
	 position: static;
}
.mobile_menu{
	display:block;
}
.cart_section {
    float: right;
    position: relative;
    top: 2px;
    margin-left: 25px;
    right: 25px;
}

.pillars {
    padding: 0 3%;
    width: 26%;
}
.product_list .product_item {
    width: 215px;
    margin: 15px 40px 0 0;
}
.product_list .product_item:nth-child(2n) {
    margin: 15px 0px 0 0;
}
.product_img, .product_item .img_overlay, .grid figure .img_overlay > a {
    height: 215px;
    width: 215px;
}
#shop_product {
    padding: 30px 0 30px;
}
#brackfast_banner .container, #our_mission .container{
	width:100%;
	padding:0;
}
#our_mission .dividers_hr {
    width: 0.66%;
}
.spices, .signup, .blog_img, .blog_prg {
    width: 100%;
    float: left;
	margin:0 0 22px 0;
}
.signup_field h5 {
    width: 100%;
    margin-bottom: 11px;
}
.signup_field input[type="text"].form_control {
    width: 209px;
}
.signup_field {
    padding: 20px 45px;
    margin-top: -120px;
}
#spices_signup {
    margin-bottom: 10px;
}
#blog_post {
    padding: 30px 0 0px;
}

.signup_field.nsignup {
    padding:0px;
    margin-top:0px;
}
.signup_field.nsignup input[type="text"].form_control {
    width: 250px;
    height: 40px;
    background-position: 15px;
    background-size: 33px;
    padding-left: 60px;
}
.signup_field.nsignup .mail_submit {
    width: 136px;
    height: 44px;
    font-size: 28px;
}
.socila_icon ul li a {
    width: 30px;
    height: 30px;
}

.imp_links {
    float: left;
    width: 748px;
}
.our_contact {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.socila_icon {
    float: none;
    text-align: center;
}
.all_right {
    width: 50%;
    float: none;
    font-size: 28px;
    text-align: center;
    display: inline-block;
}
.socila_icon ul li {
    float: none;
    display: inline-block;
}
.newsletter {
    width: 100%;
    float: none;
}
.right_part {
    width: 100%;
    float: none;
}
.all_right a {
    font-size: 28px;
	margin-top:15px;
}
.newsletter {
    width: 100%;
    float: none;
    text-align: center;
}
.ftr_title:after {
    content: '';
    margin: 2px auto 11px;
}
.imp_links {
    float: none;
    width: 100%;
	margin-top:40px;
}
.company_links, .shop_links, .account_links {
    width: 33%;
    float: left;
    text-align: center;
}

.call_mail {
    font-size: 40px;
    margin-bottom: 10px;
}

.footer_logo{
	margin-top:10px;
}


/*=============  shop_page  ========*/

.filter_nav {
    margin-top: 30px;
    padding-left:0px;
}
.filter_nav li {
    float: left;
    padding: 0 13px 0px;
}
#items.product_list .product_item {
    margin-right: 40px;
    min-height: 240px;
}
.cetegories_product .product_list .product_item {
    margin-top: 30px !important;
}

#demo-2 input[type=search]:focus {
    width: 180px;
}

.filter_block {
    margin-right:-40px;
}
/* {
	overflow:hidden;
} */

/*=============  prodcut_details  ========*/

.product_decription ul li h5 {
    font-size: 30px;
}
.product_decription ul li {
    font-size: 24px;
    margin-bottom:7px;
    line-height: 28px;
}
.product_info_details {
    float: left;
    width: 567px;
    margin-top: 20px;
}
#bx-pager{
	display:none;
}
.great_recipes .product_list .product_item {
    width: 152px;
    margin: 20px 6px 0 0;
}
.great_recipes .product_list .product_item:nth-child(3n) {
    width: 152px;
    margin: 20px 0px 0 0;
}
.great_recipes .product_img, .great_recipes .product_item .img_overlay, .grid figure .img_overlay > a {
    width: 152px;
    height: 152px;
}
.review_box {
    padding: 17px 10px 22px 10px;
    width: 450px;
    margin-top: 30px;
}
.count_circle a {
    width: 24px;
    height: 24px;
    line-height: 24px;
	margin-right: 0px;
}
.count_circle a:hover {
    margin-right: 0px;
}
.star_count {
    margin-top: 10px;
    width: 319px;
}
.post {
    width: 100px;
    font-size: 28px;
}
.all_reviews {
    width: 470px;
    margin: 20px 0 0 0;
}
.reviews {
    padding-left: 10px;
}
.product_main_img {
    width: 470px;
    margin-right: 0;
}
.product_info_details {
	width: 470px;
	margin:0;
}
#the_review {
    padding: 30px 0 10px;
}
.writer_info{
    display: block;
	width:100%;
	margin-bottom:8px;
}
.review_cmt  {
    display: block;
	width:100%;
    padding-left: 0px;
}
.write_img {
    display: none;
}
.writer_info h6{
	float:left;	
}
.wrt_login_logout{
	float:right;
}
.writer_info:after, .review_cmt form:after{
	content:'';
	clear:both;
	display:block;
}
.star_count h3 {
    line-height: 28px;
    margin-right: 8px;
    font-size: 24px;
}

.yesorno {
    margin-left: 5px;
}
.yesorno a {
    color: #606060;
    font-size: 30px;
}
.why_we h6 {
    font-size: 24px;
    line-height: 28px;
}
/*===================================   Recipe   =========================*/
.r_search_box {
    padding: 12px 20px;
}
.resipes_list .filter_nav li {
    padding: 0 9px 0px;
}
.Recipes_main_title {
    font-size: 60px;
    margin-top: 20px;
}
.searched_resipes_list {
    padding-bottom: 10px;
}
.search-recipes-input {
    width: 180px;
}

.resipes_list .filter_nav li a {
    font-size: 18px;
}
.resipes_list .filter_nav li {
    padding: 0 10px 10px;
}

#taste-club {
    padding: 30px 0 10px;
}

/*================== recipes_details   =======================*/

.recipes_main_img {
    width:100%;
    margin-right:00px;
}
.recipes_info_details {
    width:100%;
	margin-top:15px;
}
.recipes_info_details .product_nameprice h2.name {
    line-height: 1;
}
.method_step {
    width: 100%;
}

.recipes_prodcut .product_item:hover .img_overlay > a {
    opacity: 1;
    top: 28%;
}
.recipes_prodcut .product_item .img_overlay > a {
    width:80%;
    box-shadow: 0px 3px 7px rgba(0,0,0,.45);
    margin: 10px auto;
}
.btn_style2 {
    padding: 7px 0;
}
.recipes_prodcut .product_item .img_overlay > a {
    font-size: 18px;
}


/*================== taste_clube   =======================*/

.mission_about .pillars {
    padding: 0px 0 30px 0;
    width: 100%;
}
#our_mission.how_works .container {
    width:470px;
    padding: 0;
}
.form_box {
    padding: 13px 20px 0px;
    width: 400px;
}
.form_box h1 {
    font-size: 60px;
}
.started_form .form_control {
	width: 176px;
	padding: 2px 10px;
	margin: 0px 4px 10px 0;
}

.started_form textarea.form_control {
    width: 277px;
}
.wSelect-theme-classic.wSelect {
    width: 95px !important;
	margin: 0 4px 9px 0;
}
.wSelect-arrow {
    width: 15px;
}
.started_form .form_control.apt_init {
    width: 75px;
}
.started_bg {
    padding: 48px 0 60px;
}
#inside_box {
    padding: 40px 0;
}
#our_mission.how_works {
    padding: 35px 0 35px;
}
.mission_about.mission_content {
    padding: 30px 0 16px;
}

/*==================  Sales  =======================*/
.sales_list .sales_item {
    margin: 39px 0px 0 0;
    width: 470px;
}
.sales_img, .sales_list .sales_item .sales_img_overlay {
    height:360px;
    width:470px;
}

/*==================   Checkout Confirm  =======================*/

.confirm_width h1 {
    font-size: 60px;
}

#confirm_page {
    padding: 47px 0 20px;
}

/*==================   blog_list  =======================*/

.blog_side_bar {
    width: 100%;
    padding: 0px;
    margin:40px 0 0 0;
}
.blog_main_item, .blog_main_img, .blog_info  {
    width:100%;
}
.articles_title a{
	font-size:26px;
}
.blog_title a {
    font-size: 40px;
}
.blog_pg p firstletter {
    margin: 12px 15px 2px -1px;
    font-size: 65px;
    line-height: 0.5;
}
h1.main_title {
    font-family: 'notera_personal_use_onlyRg';
    font-size: 50px;
    margin-bottom: 20px;
}


/*==================   404 error  =======================*/

.error_width {
    width: 470px;
    margin: auto;
}
.error_img {
    width: 265px;
}
.error_text {
    width: 195px;
    margin-left: 10px;
}
.error_text h1 {
    font-size: 158px;
    line-height: 120px;
    margin-top: 0px;
}
.error_text h2 {
    font-size: 60px;
    color: #b7b7b7;
}
.error_text p{
	font-size:18px;
	line-height:22px;
}
a.back_btn {
    font-size: 22px;
    margin-top: 24px;
}

/*==================  about  =======================*/

.feed_love_banner {
    height: 200px;
}
#Mission_Statement {
    padding: 30px 0 50px;
}
.our_tem {
    width: 90%;
}
.about_img, .stroy_img {
    margin-top: 45px;
}
.caption h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.caption .caption_pg {
    width: 95%;
}
.caption .caption_pg p, .caption .caption_pg span {
    font-size: 20px;
}
.caption {
    margin-top: -68px;
}
#our_mission.eat_feed_love .container{
	width:470px;	
}

/*==================  checkout  =======================*/
.confirm_cart_address {
    width: 100%;
    margin: 30px auto 0;
}
.buy_process {
    margin: 0 auto;
    width: 100%;
}
.process_title {
    width: 33.33%;
}
.confirm_address {
    width:100%;
	margin-top:30px;
}
.perfectly_cart {
    padding: 4px 35px;
}

.confirm_cart {
    width: 100%;
    float: right;
}
.perfectly_img {
    width: 150px;
    height: 125px;
    display: table-cell;
}
.confirm_cart .cart_pro_list {
    padding: 0 20px 40px;
}
.confirm_cart .cart_pro_list .cart_pro_item {
    margin: 25px 30px 0 0;
}
.process_title a {
    font-size: 25px;
}
.process_title:after {
    height: 25px;
}

/*==================  cart  =======================*/

.cart_page .cart_pro_list .cart_pro_item:nth-child(3n) {
    margin: 25px 00px 0 0;
}
.cart_page .cart_pro_list .cart_pro_item {
    width: 143px;
    margin: 25px 20px 0 0;
}

.cart_page .cart_pro_list .cart_pro_item .remove-select select {
    width: 111px;
}
.cart_page .price_rw {
    width: 100%;
    font-size: 20px;
}



/*============    giving_back    ================= */

.solution_img{
	width:100%;
	padding:0;
	margin-bottom:30px;
}
.solution_info {
	width: 100%;
    padding: 0px;
	position:relative;
	margin-top:auto !important;
}

.work_info {
    width: 90%;
}

.steps_cnt {
    margin-left: 40px;
	width: 84px;
	vertical-align:top;
}

.steps_cnt:first-child {
    margin-left:0px;
}
.steps_cnt .next-step {
    right: -38px;
}
.Charities_group {
    width: 215px;
    padding: 0 10px;
	margin-bottom:30px;
}
.steps_cnt h6 {
    font-size: 14px;
}
.steps_cnt .next-step {
    width: 28px;
}

#Charities {
    padding-bottom: 30px;
}


}

@media only screen
and (min-width : 480px)
and (max-width :640px){
.logo {
	
	width: 236px;
	margin-left: -118px;
	top: 9px;
}		
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
.container{
	width: 750px;
	padding: 0 8px;		
	/*background:#3CC;	*/
}
body{
    -webkit-text-size-adjust: none;
}

h2 {
    font-size: 30px;
}

/*======================  home   ==========================*/
.logo {
    width: 750px;
}

.pillars {
    padding: 0 20px;
    width: 204px;
}

.product_list .product_item {
    width: 175px;
    margin:25px 16px 0 0;
}

.product_img {
    width: 175px;
	height:175px;
}
.product_item .img_overlay, .grid figure .img_overlay > a {
    width: 175px;
    height: 175px;
}
.product_list .product_item:nth-child(4n) {
    margin: 25px 0px 0 0;
}
.spices {
    width: 367px;
    margin-right: 16px;
}
.signup {
    width: 367px;
}

.signup_field {
    padding: 15px 25px;
    margin-top: -99px;
}
.signup_field h5 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 7px;
}
.signup_field input[type="text"].form_control {
    width: 173px;
}
.signup_field .mail_submit {
    width: 85px;
}
.blog_img {   
	width: 100%;
}
.blog_prg {
    margin:15px 0 0 0;
    width: 100%;
}

.signup_field.nsignup {
    padding:0px;
    margin-top:0px;
}
.signup_field.nsignup input[type="text"].form_control {
    width: 340px;
    height: 40px;
    background-position: 15px;
    background-size: 33px;
    padding-left: 60px;
}
.signup_field.nsignup .mail_submit {
    width: 158px;
    height: 44px;
    font-size: 28px;
}
.socila_icon ul li a {
    width: 30px;
    height: 30px;
}
.imp_links {
    float: left;
    width: 748px;
}
.our_contact {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.socila_icon {
    float: none;
    text-align: center;
}
.all_right {
    width: 30%;
    float: none;
    font-size: 28px;
    text-align: center;
    display: inline-block;
}
.socila_icon ul li {
    float: none;
    display: inline-block;
}
.newsletter {
    width: 100%;
    float: none;
}
.right_part {
    width: 100%;
    float: none;
}
.all_right a {
    font-size: 28px;
	margin-top:15px;
}
.newsletter {
    width: 100%;
    float: none;
    text-align: center;
}
.ftr_title:after {
    content: '';
    margin: 2px auto 11px;
}
.imp_links {
    float: none;
    width: 100%;
	margin-top:50px;
}
.company_links, .shop_links, .account_links {
    width: 33%;
    float: left;
    text-align: center;
}

.call_mail {
    font-size: 40px;
    margin-bottom: 10px;
}

.footer_logo{
	margin-top:10px;
}

#shop_product {
    padding: 40px 0 40px;
}


/*=============  shop_page  ========*/

#items.product_list .product_item {
    margin-right: 16px;
    min-height: 210px;
}

#product_filter {
    padding: 0px 0 10px;
}

.filter_block {
    margin-right:-16px;
}

/*=============  prodcut_details  ========*/

.product_main_img {
    width: 360px;
    float: left;
    margin-right: 30px;
}
.product_info_details {
    float: left;
    width: 360px;
}
.add_product {
    margin: 30px 0px 0;
}


.great_recipes .product_list .product_item {
    width: 120px;
    margin: 20px 5px 0 0;
}
.great_recipes .product_list .product_item:nth-child(6n) {
    width: 120px;
    margin: 20px 0px 0 0;
}
.great_recipes .product_img, .great_recipes .product_item .img_overlay, .grid figure .img_overlay > a {
    width: 120px;
    height:120px;
}

.great_recipes .product_item .img_overlay > a {
    font-size: 18px;
}
.review_box {
    padding: 17px 18px 22px 10px;
    width: 722px;
    margin-top: 35px;
}

.all_reviews {
    width: 750px;
    margin: 40px 0 0 0;
}
#the_review {
    padding: 34px 0 20px;
}

/*===================================   Recipe   =========================*/
.r_search_box {
    padding: 12px 26px 12px 26px;
}
.resipes_list .filter_nav li {
    padding: 0 9px 0px;
}

.Recipes_main_title {
    font-size: 60px;
    margin-top: 30px;
}

.searched_resipes_list {
    padding-bottom: 10px;
}

/*================== recipes_details   =======================*/

.recipes_main_img {
    width:360px;
    margin-right: 30px;
}
.recipes_info_details {
    width:360px;
}
.recipes_info_details .product_nameprice h2.name {
    line-height: 1;
}
.method_step {
    width: 100%;
}

.recipes_prodcut .product_item:hover .img_overlay > a {
    opacity: 1;
    top: 26%;
}
.recipes_prodcut .product_item .img_overlay > a {
    width:80%;
    box-shadow: 0px 3px 7px rgba(0,0,0,.45);
    margin: 10px auto;
}
.btn_style2 {
    padding: 7px 0;
}
.recipes_prodcut .product_item .img_overlay > a {
    font-size: 18px;
}

/*================== taste_clube   =======================*/

.mission_about .pillars {
    padding: 0 30px 0 0px;
    width: 230px;
}

#our_mission.how_works {
    padding: 40px 0 35px;
}
#inside_box {
    padding: 50px 0;
}

/*==================  Sales  =======================*/
.sales_list .sales_item {
    margin: 39px 25px 0 0;
    width: 362px;
}
.sales_img, .sales_list .sales_item .sales_img_overlay {
    height: 260px;
    width: 100%;
}

.sales_info_box a.sales_title, .sales_info_box .old_new_price {
    float: none;
}
.old_new_price:before {
    display:none;
}
.old_new_price h5 {
    font-size: 28px;
    margin: 5px 15px 5px 0;
}
.sales_info_box a.sales_title {
    font-size: 28px;
}
.sales_info_box {
    padding: 10px;
}

/*==================   blog_list  =======================*/

.blog_side_bar {
    width: 260px;
    padding: 0px;
    margin-left: 30px;
}

.blog_main_item, .blog_main_img, .blog_info  {
    width: 460px;
}
.articles_img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.articles_title a{
	font-size:20px;
}
.blog_title a {
    font-size: 34px;
}
.blog_pg p firstletter {
    margin: 12px 15px 2px -1px;
    font-size: 65px;
    line-height: 0.5;
}
/*==================  about  =======================*/

.feed_love_banner {
    height:320px;
}
#Mission_Statement {
    padding: 30px 0 50px;
}
.our_tem {
    width: 90%;
}
.about_img, .stroy_img {
    margin-top: 45px;
}


/*==================  checkout  =======================*/
.confirm_cart_address {
    width: 100%;
    margin: 30px auto 0;
}
.buy_process {
    margin: 0 auto;
    width: 100%;
}
.process_title {
    width: 33.33%;
}
.confirm_address {
    width: 50%;
}
.confirm_cart {
    width: 50%;
}
.confirm_cart .cart_pro_list .cart_pro_item {
    margin: 25px 29px 0 0;
}

.confirm_cart .cart_pro_list .cart_pro_item:nth-child(4n) {
    margin: 25px 29px 0 0;
}
.confirm_cart .cart_pro_list .cart_pro_item:nth-child(3n) {
    margin: 25px 0px 0 0;
}
.perfectly_title {
    height: auto;
    padding: 10px 0;
	
}
.perfectly_img {
    width: 188px;
    height: auto;
    display: table-cell;
}
.perfectly_cart {
    padding: 4px 25px;
}

/*==================  cart  =======================*/


.cart_page .cart_pro_list .cart_pro_item {
    width: 108px;
    margin: 25px 20px 0 0;
}
.cart_page .cart_pro_list .cart_pro_item .remove-select select {
    width: 82px;
	padding: 1px 4px;
}
.cart_page .cart_pro_list .cart_pro_item .remove-select a {
    width: 24px;
    height: 24px;
}
.cart_page .cart_pro_list .cart_pro_item .remove-select a img {
    margin: 2px;
}



/*============    giving_back    ================= */

.solution_img{
	width:375px;
	padding:0;
}
.solution_info {
	width: 350px;
    padding: 0 0px 0 25px;
	position:relative;
	margin-top:auto !important;
}

.work_info {
    width: 80%;
}

.steps_cnt {
    margin-left:83px;
}

.steps_cnt:first-child {
    margin-left:0px;
}
.steps_cnt .next-step {
    right: -72px;
}
.Charities_group {
    width: 172px;
    padding: 0 10px;
}
.Charities_group:first-child{
    padding-left:0;
}
.Charities_group:nth-child(4){
	padding-right:0;
}


}


@media only screen
and (min-width : 1025px)
and (max-width : 1190px) {
.container{
	/*background:#efefef;*/
	width:1000px;	
}
body{
    -webkit-text-size-adjust: none;
}


/*======================  home   ==========================*/



.pillars {
    padding: 0 30px;
    width: 267px;
}
.dividers_hr {
    margin-top: 30px;
}
.product_list .product_item {
    width: 220px;
    margin: 30px 40px 0 0;
}
.product_img {
    width: 220px;
	height:220px;
}
.product_item .img_overlay, .grid figure .img_overlay > a {
    width: 220px;
    height: 220px;
}
.spices{
	width:485px;
	margin-right:30px;
}
.signup {
    width: 485px;
}
.signup_field input[type="text"].form_control {
    width: 224px;
}
.signup_field {
    padding: 20px 45px;
    margin-top: -125px;
}
.signup_field h5 {
    width: 85%;
    margin-bottom: 15px;
}
.blog_prg {
    width: 515px;
}
.blog_img {
    width: 470px;
}
.company_links {
    width: 136px;
}
.shop_links {
    width: 112px;
}
.account_links {
    width: 114px;
}
.newsletter {
    width: 320px;
}
.signup_field.nsignup {
    padding:0px;
    margin-top:0px;
}
.signup_field.nsignup input[type="text"].form_control {
    width: 149px;
}
.imp_links {
    float: left;
    width: 362px;
}
.right_part {
    width: 625px;
    float: right;
}



/*=============  shop_page  ========*/


#items.product_list .product_item {
    margin-right: 40px;
    min-height: 260px;
}
.filter_block {
    margin-right:-40px;
}



/*=============  prodcut_details  ========*/

.product_main_img {
    width: 500px;
    float: left;
    margin-right: 30px;
}
.product_info_details {
    float: left;
    width: 470px;
}
.add_product {
    margin: 30px 0px 0;
}


.great_recipes .product_list .product_item {
    width: 162px;
    margin: 20px 5px 0 0;
}
.great_recipes .product_list .product_item:nth-child(6n) {
    width: 162px;
    margin: 20px 0px 0 0;
}
.great_recipes .product_img, .great_recipes .product_item .img_overlay, .grid figure .img_overlay > a {
    width: 162px;
    height:162px;
}
.review_box {
    padding: 17px 18px 22px 10px;
    width: 972px;
    margin-top: 35px;
}


/*================== recipes_details   =======================*/

.recipes_main_img {
    width: 500px;
    margin-right: 30px;
}
.recipes_info_details {
    width: 470px;
}

/*================== taste_clube   =======================*/

.mission_about .pillars {
    padding: 0 50px 0 0px;
    width: 300px;
}

/*==================  Sales  =======================*/
.sales_list .sales_item {
    margin: 39px 25px 0 0;
    width: 487px;
}
.sales_img, .sales_list .sales_item .sales_img_overlay {
    height: 340px;
    width: 100%;
}

/*==================   blog_list  =======================*/

.blog_side_bar {
    width: 380px;
    padding: 0px;
    margin-left: 35px;
}

.blog_main_item, .blog_main_img, .blog_info {
    width: 585px;
}

/*==================  about  =======================*/

.feed_love_banner {
    height: 430px;
}

/*==================  checkout  =======================*/
.confirm_cart_address {
    width: 100%;
    margin: 30px auto 0;
}
.buy_process {
    margin: 0 auto;
    width: 100%;
}
.process_title {
    width: 33.33%;
}
.confirm_address {
    width: 485px;
}

/*==================  cart  =======================*/


.cart_page .cart_pro_list .cart_pro_item {
    width: 150px;
    margin: 25px 20px 0 0;
}
.cart_page .cart_pro_list .cart_pro_item .remove-select select {
    width: 118px;
}



/*============    giving_back    ================= */

.solution_img{
	width:500px;
	padding:0;
}
.solution_info {
	 width: 470px;
    padding: 0 0px 0 30px;
}

.work_info {
    width: 80%;
}

.steps_cnt {
    margin-left: 125px;
}
.steps_cnt .next-step {
    right: -90px;
}
.Charities_group {
    width: 210px;
}


}
