.main_menu{
	position:relative;
}
.main_menu .nav-toggle.active {
    position: absolute;
    left: 0;
	top:0;
}


/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;

}

.nav-collapse li {
    float:left;
	padding: 12px 0 16px;
}
.nav-collapse li:last-child a{
	border:0;
}

.nav-collapse a {
    color: #606060;
    text-decoration: none;
    width: 100%;
    border-right: 1px solid #b7b7b7;
    padding: 0 25px;
    float: left;
    font-size: 20px;
    font-family: 'bebas_neuebold';
    line-height: 14px;
}
.nav-collapse a:hover {
    color: #fc9486;
}


.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul ul a {
    display: none;
  }

}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: absolute;
    overflow: hidden;
    width: 75px;
    height: 55px;
    float: left;
    top: 27px;
}

.nav-toggle:before {
  color: #f4421a; /* Edit this to change the icon color */
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 75px;
  text-transform: none;
  position: absolute;
  content: "\f0c9";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 75px;
  content: "\f00d";
}


/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
    margin: 0 auto;
    padding: 0;
    width: 676px;
    display: block;
    list-style: none;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    left: 0px;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #e0e0e0;
}


.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  
}
