@charset "utf-8";
/* CSS Document */

div{
	margin:0px;
	padding:0px;
}
.container{
	width:1177px;
	margin:0px auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clear{
	clear:both;
}

.z{
	border:1px solid red;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;	
}
input[type="text"], input[type="email"], input[type="password"], textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
input[type="submit"]{
	-webkit-appearance:none;
	-moz-appearance:none;	
	
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-appearance:none;
	-moz-appearance:none;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
/*========================= MENU ==========================*/
  
#main-nav {
    border-bottom: 1px solid #e0e0e0;
}
#main-nav ul {
    height: 40px;
    width: 675px;
    margin: auto;
}

#main-nav ul li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 40px;
}


#main-nav ul li a {
    display: block;
    padding: 0 25px;
    margin: 13px 0;
    line-height: 14px;
    text-decoration: none;
    border-right: 1px solid #b7b7b7;
    font-family: 'bebas_neuebold';
    font-size: 20px;
    color: #606060;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#main-nav ul li:last-child a{ border-right: none; }

#main-nav ul li:hover > a { color: #fc9486; }


#main-nav ul ul {
	position: absolute;
	top: 40px;
	left: 0;
	z-index:99;
	height:auto;

	opacity: 0;
	
	background: #1f2024;

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}
#main-nav ul ul li:hover ul{
	z-index:999;	
}

#main-nav ul li:hover > ul { opacity: 1; }
#main-nav ul ul li {
	height: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

#main-nav ul li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}

#main-nav ul ul li a {
	width: 132px;
	padding: 4px;
	margin: 0;

	border: none;
	border-bottom: 1px solid #353539;
}

#main-nav ul ul li:last-child a { border: none; }

#main-nav ul ul ul{
	position: absolute;
	top: 0px;
	left: 140px;

	opacity: 0;
	
	background: #1f2024;

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

#main-nav ul ul li:hover > ul ul{ opacity: 1; }

#main-nav ul ul ul li {
	height: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

#main-nav ul ul li:hover > ul ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}

#main-nav ul ul ul li a {
	width: 150px;
	padding: 4px;
	margin: 0;

	border: none;
	border-bottom: 1px solid #353539;
}


#main-nav ul ul ul li:last-child a { border: none; }

.mobile_menu{
	display:none;
}


/*====================================================================================================*/
/*======= Hearder ======*/

strong{
	font-family: 'times_new_romanbold';
}
h1, h2, h3, h4, h5, h6{
	font-family: 'bebas_neuebold';
	color:#606060;
	letter-spacing:0.5px;
}
a{
	
}
p{
	font-family: 'times_new_romanregular';
	font-size:18px;
	color:#606060;
	line-height:22px;
}
h2{
	font-size:36px;
}
h3{
	font-size:30px;
}

.btn_style {
    background-color: #fc9486;
    color: #ffffff;
    font-family: 'bebas_neuebold';
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    border: none;
    cursor: pointer;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.btn_style:hover {
    background-color: #8ca3b2;
}

.btn_style2 {
    background-color: #8ca3b2;
    color: #ffffff;
    font-family: 'bebas_neuebold';
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    border: none;
    cursor: pointer;    
    padding: 10px 0;    
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.btn_style2:hover {
    background-color: #fc9486;
}

.form_control{
	border:none;
	background:#fff;
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-webkit-border-radius:2px;
	height:26px;
	padding:2px 20px;	
}
.topbar{
	background-color:#eff0ea;
}
.charity{
	float:left;
	position:relative;
}
.account-and-social{
	float:right;
	padding: 6px 0;
}
.People-fed-dropdown {
    display: none;
    position: absolute;
    top: 32px;
    width: 406px;
    padding: 38px 20px;
    background-color: #fff;
    border: 4px solid #fc9486;
    z-index: 999999999;
    text-align: center;
}
.charity_count {
    font-family: 'bebas_neuebold';
    font-size: 18px;
    color: #606060;
    background-color: #fc9486;
    border: 0;
    border-radius: 0;
    padding: 6px 20px;
    letter-spacing: 1px;
}
.charity_count span{
	color:#fff;
	margin-left:15px;
	margin-right:5px;
}
.charity_count img{
	position: relative;
    top: -3px;
}
.People-fed-dropdown h1{
	font-family: 'bebas_neuebold';
	color:#606060;
	font-size:40px;
	line-height:45px;
}
.People-fed-dropdown p{
	font-family: 'times_new_romanregular';
	font-size:16px;
	color:#606060;
	margin:15px 0 20px;
}
.People-fed-dropdown p.script-font{
	color:#94a9b7;
	font-size:30px;
	font-family: 'notera_personal_use_onlyRg';
}
.account-and-social .account a{
	font-family: 'bebas_neuebold';
	color:#606060;
	font-size:16px;
	padding:0 8px 0 0;
	
}
.account-and-social .account a:hover{
	color:#fc9486;
}
.account-and-social .social-icons a{
	color:#606060;
	font-size:17px;
	padding:0 7px;
	
}
.account-and-social .social-icons a:hover{
	color:#fc9486;
}
.logo-section{
    border-bottom: 6px solid #eff0ea;
}
.logo-section .container{
	position:relative;
}
.logo{
	position:absolute;
	padding:14px 0;
	width:100%;
	text-align:center;
	top:0;
}
.utility-section{
	float:right;
	display:inline-block;
	position: relative;
    z-index: 9999;
	padding:37px 0 26px;
}
.search-bar {
    float: left;
    width: 190px;
    height: 35px;
    margin-top: 9px;
}
.search-form {
	display: none;
    margin: 0px 0 0 0;
    font-size: 14px;
    position: relative;
    width: 100%;
	top: -6px;
}
input.search-input {
	display: inline-block;
    margin: 0;
    width: 178px;
    border: 1px solid #8ca3b2;
    border-radius: 2px;
    padding: 6px;
    font-family: 'times_new_romanregular';
    font-size: 16px;
    color: #606060;
}
.search-form input[type="submit"] {
	position: absolute;
    top: 6px;
    right: 6px;
    margin: 0;
    outline: 0;
}
.search_icon, .search_icon_submit {
    background: url(../images/search-icon.png) no-repeat;
    width: 23px;
    height: 23px;
    border: 0;
    border-radius: 0;
    text-indent: -99px;
    cursor: pointer;
    float: right;
    margin-right: 6px;
}
.curruncy_change {
    float: left;
    margin-left: 40px;
    position: relative;
    margin-top: 12px;
}
.flag{
	font-family: 'HelveticaNeue-Bold';
	color:#606060;
	font-size:20px;
}
.flag a{
	
	color:#606060;
}
.flag-icon {
	margin-right:8px;
}
.flag .drop-down-icon{
	position:relative;
	top:-4px;
}
.select-flag{
	position:absolute;
	top:24px;
	display:none;
	background:#fff;
	border:4px solid #eff0ea;
	width:106px;
	padding:5px 18px 0 12px;
	z-index: 999;
}
.select-flag p{
	color:#b7b7b7;
	font-size:18px;
	font-style:italic;
	font-family: 'times_new_romanregular';
	margin-bottom:10px;
}
.select-flag ul{
	padding-left:20px;
}
.select-flag li{
	margin-bottom:11px;
	font-family: 'times_new_romanregular';
	color:#606060;
	font-size:18px;
	cursor:pointer;
}
.select-flag li img{
	margin-right:10px;
}
.cart_section	{
    float: right;
    position: relative;
    top: 2px;
    margin-left: 25px;
}
.cart_icon {
	width:50px;
	height:44px;
	background:url(../images/checkout-icon.png) no-repeat;
}
.cart_icon a{
	height: 44px;
    display: block;
    position: relative;
}
.cart_icon a .cart-item{
	position: absolute;
    left: 14px;
    top: -5px;
    width: 18px;
    height: 18px;
    background-color: #fc9486;
    color: #fff;
    font-size: 12px;
    font-family: 'HelveticaNeue-Bold';
    text-align: center;
    line-height: 20px;
    border: 3px solid #fff;
    border-radius: 20px;
}
.close-icon{
	padding: 15px 11px 3px;
    right: 10px;
    background: #fff;
    box-shadow: -2px -9px 15px #ccc;
    border-radius: 40px 40px 0 0;
    float: right;
	cursor:pointer;
}
.close-icon button{
	background:none;
	border:none;
	-webkit-appearance:none;
	cursor:pointer;
}
.remort-cart{
	position: absolute;
    top: 15px;
    right: -20px;
    width: 655px;
	z-index: 9999;
	display:none;
}
.remort-cart form{
	padding:8px;
	background:#fff;
	box-shadow: -2px -6px 15px #ccc;
}
.remort-cart form h1.cart-title{
	margin-top:28px;
	text-align:center;
	font-size:30px;
	color:#606060;
	font-family: 'bebas_neuebold';
	position:relative;
	margin-bottom:35px;
}
.remort-cart form h1.cart-title:before{
	margin-top: 10px;
    width: 80px;
    height: 3px;
    background-color: #eff0ea;
    content: '';
    top: 25px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
}
.cart_pro_list{
	padding:0 30px 100px;
}
.cart_pro_list .cart_pro_item{
	width:82px;
	float:left;
	margin-right:38px;
	margin-bottom:30px;
}
.cart_pro_list .cart_pro_item .remove-select{
	margin-bottom: 2px;
}
.cart_pro_list .cart_pro_item .remove-select a{
	margin-right: 2px;
    display: inline-block;
    float: left;
}
.cart_pro_list .cart_pro_item .remove-select select{
	width: 60px;
    color: #606060;
    font-size: 14px;
    font-family: 'bebas_neuebold';
    padding: 1px;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #EFF0EB url(../images/drop-down-triangle.png) no-repeat 90% center;
}
.pro_cart_img {
    width: 82px;
    margin-bottom: 8px;
}
.pro_cart_img img{
	max-width:100%;
}
.pro_cart_info h1{
	font-size:14px;
	color:#606060;
	font-family: 'bebas_neuebold';
	margin-bottom:6px;
}
.pro_cart_info p{
	font-size:16px;
	color:#b7b7b7;
	font-family: 'bebas_neuebold';
}
.code-title-section{
	margin-bottom:7px;
	background-color:#eff0ea;
	padding:20px 20px;
}
.coupon-code{
	float:left;
}
.coupon-code span{
	font-size:20px;
	color:#606060;
	font-family: 'bebas_neuebold';
	text-transform:uppercase;
	margin-right:12px;
}
.coupon-code input[type="text"]{
	width:110px;
	padding:5px 15px;
	font-size:20px;
	color:#606060;
	font-family: 'bebas_neuebold';
	border:1px solid #b7b7b7;
	background:#fff;
}
.sub-title{
	float:right;
	font-size:30px;
	color:#8ca3b2;
	font-family: 'bebas_neuebold';
	text-transform:uppercase;
}
.sub-title span{
	font-size:30px;
	color:#606060;
	font-family: 'bebas_neuebold';
	text-transform:uppercase;
	margin-right:30px;
}
.keep-shopping-sectopn{
	width: 312px;
    margin-right: 8px;
	float:left;
}
.keep-shopping-sectopn a{
	background-color: #b7b7b7;
    font-size: 36px;
    color: #ffffff;
    font-family: 'bebas_neuebold';
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 312px;
    margin-right: 8px;
    padding: 10px 0;
    display: block;
}
.checkout-section{
	width: 312px;
	float:right;
}
.checkout-section input{
	background-color: #fc9486;
    font-size: 36px;
    color: #ffffff;
    font-family: 'bebas_neuebold';
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 312px;
    margin-right: 8px;
    padding: 10px 0;
    display: block;
	border:none;
	cursor:pointer;
}
.content{
	position:relative; 
}
.overlay{
	background:url(../images/blur.png) repeat; 
	width:100%;
	height:100%; 
	position:absolute;
	top:0;
	left:0;
	display:none;
}

/*=============================================================================*/

.mb_menu_title {
    line-height: 95px;
    font-size: 34px;
    background-color: #eff0ea;
    font-family: 'bebas_neuebold';
    display: none;
    padding-left: 10%;
}
.header_part:after{
	content:'';
	clear:both;
	display:block;
}
.mission_content {
    padding: 15px 0 20px;
    border: 6px solid #eff0ea;
    margin: 30px 0 13px;
}
.pillars {
    text-align: center;
    float:left;
    padding: 0 40px;
    width: 306px;
}
#our_mission {
    padding-bottom: 32px;
}
#shop_product {
    padding: 40px 0 48px;
}
.mission_item {
    display: inline-block;
	width: 60px;
    height:41px;
}
.mission_item.bowl{
	background:url(../images/bowl.png) no-repeat center;
	background-size:100%;
}
.mission_item.bred{
	background:url(../images/bred.png) no-repeat center;
	background-size:100%;
}
.mission_item.bred2{
	background:url(../images/bred2.png) no-repeat center;
	background-size:100%;
}
.mission_item.love_dish{
	background:url(../images/love_dish.png) no-repeat center;
	background-size:100%;
}
.pillers_title h2 {
    display: inline-block;
    margin-right: 14px;
	color:#606060;
}
.pillers_title {
    margin-bottom: 5px;
}
.pillars p{
	font-style:italic;
}
.dividers_hr{
	width:3px; 
	height:60px;
	float:left;
	margin-top:15px;
	background-color:#eff0ea;
}
.dividers_vr{
	width:130px; 
	height:3px;
	margin:auto;	
	background-color:#eff0ea;
}
.taste club{
	padding:30px 0 30px;
}

#brackfast_banner img{
	max-width:100%;
}

/*=========product_list  =========*/

.product_item img {
    position: relative;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
.product_item .img_overlay {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.product_item .img_overlay, .grid figure .img_overlay > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 252px;
    height: 252px;
}
.product_item .img_overlay > a {
    z-index: 1000;
    font-size: 22px;
    opacity: 0;
    letter-spacing: 2px;
    font-family: 'bebas_neuebold';
    top: 80%;
    color: #fff;
    position: relative;
}
.product_item:hover .img_overlay > a {
    opacity: 1;
    top: 47%;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}
.product_item img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
.product_item .img_overlay {
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}
.product_item .img_overlay::before {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border: 1px solid #fff;
	content: '';
}
.product_item .img_overlay::before {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.product_item:hover .img_overlay::before{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.product_item:hover .img_overlay {
    background-color: rgba(254, 142, 141, 0.7);
}
.cetegories_product .product_list .product_item {
    margin-top:40px !important;
}
.product_list .product_item {
    width: 252px;
    height: auto;
    float: left;
    margin: 30px 56px 0 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.product_list .product_item:nth-child(4n) {
    margin: 30px 0px 0 0;
    position: relative;
}

.product_img {
    height: 252px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 252px;
    padding-bottom: 8px;
}
.product_info_box {
    text-align: left;
}
a.product_title {
    font-size: 18px;
	font-family: 'bebas_neuebold';
    text-decoration: none;
    display: block;
	color:#606060;
    line-height:1;
}
a.product_title:hover {
    color: #fc9486;
}
h5.product_price {
    font-size: 18px;
    color: #b7b7b7;
    line-height: 1;
    display: inline-block;
    margin-right: 6px;
}
.old_price{
	text-decoration: line-through;
}
h5.product_price.new_price{
	color:#fc9486;
}
.content_title.no_border h2:before,.content_title.no_border h2:after{
	display:none;
}
.content_title h2:before{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #eff0ea;
    display: inline-block;
    top: -13px;
    position: relative;
    margin-right: 25px;
	
}
.content_title h2:after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #eff0ea;
    display: inline-block;
    top: -13px;
    position: relative;
    margin-left: 25px;
}
.content_title h2{
	text-align:center;
	color:#606060;
}

.spices{
	width:558px;
	float:left;
	margin-right:60px;
}
.spices img, .signup img{
	max-width:100%;
}
.signup{
	width:558px;
	float:left;
}

.signup_field {
    padding: 30px 45px;
    margin-top: -150px;
}
.signup_field h5 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 21px;
}

.signup_field input[type="text"].form_control {
	background: url(../images/signup_mail.jpg) no-repeat center #fff;
	background-repeat: no-repeat;
	background-position: 6px;
	padding-left: 35px;
	font-size: 14px;
	display: inline-block;
	width: 297px;
	vertical-align: top;
}
.signup_field .mail_submit{
	display:inline-block;
	width:112px;
	height:30px;
	font-size:20px;
} 

.shipping_add h4 {
    font-size: 24px;
    color: #060606;
    background-color: #f0f1eb;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;
}
.blog_img img{
	max-width:100%;
}
.blog_img{
	float:left;
	width:560px;
}
.blog_prg{
    margin-left: 15px;
    width: 602px;
    float: left;
}

#spices_signup {
    margin-bottom: 35px;
}
.footer_logo img{
	max-width:100%;
}
.right_part{
    width: 695px;
	float:right;
}
#footer {
    background-color: #eff0ea;
    margin-top: 36px;
    padding: 35px 0;
}
.our_contact {
    float: right;
    width: 252px;
    text-align: right;
    color: #b7b7b7;
    font-family: 'bebas_neuebold';
	letter-spacing:0.5px;
}
.imp_links {
    float: left;
    width: 482px;
}
.company_links{
	width:166px;
	float:left;
}
.shop_links{
	width:142px;
	float:left;
}
.account_links{
	width:174px;
	float:left;
}
.newsletter{
	width:390px;
	float:left;
}
.nsignup{
	margin:0;
	padding:0;
}
h4.ftr_title{
	font-size:28px;
}
.ftr_title:after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #606060;
    display: block;
    margin: 2px 0 11px;
}
.signup_field.nsignup input[type="text"].form_control {
    width: 219px;
}
.imp_links ul li {
	margin-bottom:8px;
}
.imp_links ul li a {
    color: #b7b7b7;
    margin-bottom: 10px;
    font-family: 'bebas_neuebold';
    letter-spacing: 0.5px;
}
.imp_links ul li a:hover{
	color:#fc9486;
}


.facebook_icon{
	background:url(../images/facebook.png) no-repeat center; 
	background-size:100%;	
}
.twitter_icon{
	background:url(../images/twitter.png) no-repeat center; 
	background-size:100%;	
}
.instagram_icon{
	background:url(../images/instagram.png) no-repeat center; 
	background-size:100%;	
}
.pin_icon{
	background:url(../images/pin.png) no-repeat center; 
	background-size:100%;	
}

.socila_icon{
	float:right;
	margin-bottom:16px;
	}
.socila_icon ul li{
	float:left;
	margin-right: 15px;
}
.socila_icon ul li:last-child{
	margin:0;
}
.socila_icon ul li a {
    width: 22px;
    height: 22px;    
    display: block;
}
.call_mail .call{
	color:#fc9486;	
}
.call_mail .mail{
	color:#b7b7b7;	
}
.call_mail {
	font-size:20px;
	margin-bottom:10px;
}
.all_right{
	width:50%;
	float:right;
}
.all_right a {
    color: #8ca3b2;
    margin-right: 8px;
    border-right: 2px solid #b7b7b7;
    padding-right: 8px;
    line-height: 18px;
    font-size: 16px;
    display: inline-block;
}
.all_right a:last-child{
	margin:0;
	padding:0;
	border:none;
}




/*========================  shop page  ============================  */

#product_filter{
	padding:0 0 30px;
}

#product_cetegories {
    padding: 25px 0 35px;
}
.cetegories{
	text-align:center;
}
.cetegories ul li{
	display:inline-block;
	margin-right:30px;
}
.cetegories ul li:last-child{
	margin:0;
}
.cetegories ul li a h6{
	font-size:16px;
	margin-top:10px;
}
.cetegories ul li a:hover h6{
	color:#fc9486;
}
.cetegories ul li a img{
	border-radius:50%;
	width:100px;
	height:100px;
}



.product_sort {
    padding: 7px 18px 6px 0;
    border: 1px solid #d4d4d4;
}
#sort_filter{
	float:right;
}

.select-style {
    font-family: 'bebas_neuebold';
    color: #b7b7b7;
    font-size: 18px;
    width: 168px;
    overflow: hidden;
    background-color: #fff;
    letter-spacing: 1px;
    float: right;
    margin: 8px 30px 8px 0;
    border-right: 1px solid #b7b7b7;
}

.select-style select {
    padding: 0px 4px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
    font-family: 'bebas_neuebold';
    color: #b7b7b7;
    font-size: 18px;	
    background: #fff url(../images/drop_arrow.png) no-repeat 85% 50%;
    width: 100px;
}
.select-style span{
    float: left;
    line-height: 22px;
}

.select-style select:focus {
    outline: none;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}



/* Demo 2 */
#demo-2{
	float:right;
}
#demo-2 input[type=search] {
    width: 15px;
    color: transparent;
    cursor: pointer;
    background:url(../images/search-icon.png) no-repeat 1px center;
    border: none;
    padding:9px 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    float: right;
}

#demo-2 input[type=search]:focus {
    width: 200px;
    padding-left: 40px;
    color: #000;
    cursor: auto;
    border: 1px solid #CCC;
    background: url(../images/search-icon.png) no-repeat 10px center;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}



#items.product_list .product_item {
    margin-right:56px;
    min-height: 300px;
}

.filter_nav {
    margin-top: -35px;
    padding-left: 15px;
}
.filter_nav li{
	float:left;
	padding:0 13px 15px;
}

.filter_nav li a{
	font-family: 'bebas_neuebold';
	color:#606060;
	font-size:20px;	
}
.filter_nav li a.active{
	font-family: 'bebas_neuebold';
	color:#fc9486;
}


.row:after {
  clear: both;
}
.filter-content img {
	width: 100%;
}
.item {
	margin-bottom: 30px;
}

/*folio-thumb*/
.folio-thumb {
	background: #fff;
	position: relative;
	overflow: visible;
	height: auto;
}
.folio-thumb .zoom {
	background: url(../img/icons/zoom.png) 0 0 no-repeat transparent;
	width: 29px;
	height: 25px;
	position:absolute;
	outline: none;
	display: none;
	z-index: 99;
	opacity: 1;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -12px;
	bottom: 10%;
	-moz-transition: 0s;
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
	opacity: 1;
}
.folio-thumb .zoom:hover {
	opacity: 0.7;
}


.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/*Isotope CSS3 transitions*/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}

/*Disabling Isotope CSS3 transitions*/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}


/*============================= search_result  ===================================*/

.search_page_title {
    padding: 19px 0 9px;
}
.search_page_title h1 {
    color: #8ca3b2;
    font-size: 30px;
    padding-left: 29px;
    letter-spacing: 1px;
}
.search_page_title h1 a{
	color:#8ca3b2;
}
.search_page_title h1 a:hover{
	color:#fc9486;
}




/*============================== product_details  ======================== */

#product_details{
	padding:35px 0;
}
.product_main_img{
	width:550px;
	float:left;
	margin-right:60px;
}

.product_thumbs a {
    display: inline-block;
    margin-right: 15px;
}

.product_thumbs img {
    width: 70px;
    height: 70px;
}

.product_main_img .bx-wrapper {
    position: relative;
    margin: 0 auto 15px;
    padding: 0;
}
.product_info_details{
	float:left;
	width:567px;
}
.product_nameprice h2{
	display:inline-block;
}
h2.name {
    padding-right: 12px;
    border-right: 1px solid #B7B7B7;
    line-height: 22px;
}
h2.price {
    color: #b7b7b7;
    padding-left: 12px;
    line-height: 32px;
}
.price sub{
    font-size: 20px;
    vertical-align: top;
}
.product_nameprice{
	margin-top:4px;
}
.dp_view{
	display:block;
}
.mb_view{
	display:none;
}
.review {
    padding: 4px 0 8px;
}
.review .stars{
	display:inline-block;
	margin-right:5px;
}
.stars .fa {
    color: #fc9486;
    font-size: 20px;
    margin-left: 1px;
}
.stars .fa.empty{
	color:#eff0ea;
}

.Analysis{
	font-style:italic;
}
.Analysis label{
	font-weight:bold;
}
h6.tag{
	font-style:italic;
	font-weight:bold;
	font-size:24px;
	color:#606060;
    font-family: 'times_new_romanbold_italic';
	margin-top:12px; 
}

.select_box h5 {
    font-size: 24px;
    display: inline-block;
}
.select_box select {
    border: none;
    font-family: 'times_new_romanregular';
    font-size: 18px;
    color: #606060;
    background: url(../images/drop-down-triangle.png) no-repeat 100% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 13px 0 5px;
	vertical-align: top;
}
.select_box select.size {
	padding: 0 57px 0 0px;	
}
.add_product{
    margin: 49px 0px 0;	
}
.select_box {
    float: left;
    padding: 7px 12px 7px 15px;
    border: 4px solid #eff0ea;
    margin: 0px 13px 0px 0;
}
.cart_btn {
    display: block;
    width: 309px;
    font-size: 36px;
    padding: 4px 0 5px;
	margin-top:20px;
}
.product_decription {
    margin-top: 32px;
}
.product_decription ul li h5{
	font-family: 'bebas_neuebold';
	font-size:24px;
	display:inline-block;
}
.product_decription ul li{
	font-size:18px;
	color:#606060;
	margin-bottom:5px
}

.great_recipes h2{
	text-align:center;
}
.great_recipes#shop_product {
    padding: 22px 0 48px;
}

.great_recipes .product_list .product_item {
    width: 182px;
    margin: 20px 16px 0 0;
}
.great_recipes .product_list .product_item:nth-child(6n) {
    width: 182px;
    margin: 20px 0px 0 0;
}
.great_recipes .product_img {
    height: 182px;
    width: 182px;
}
.great_recipes .product_item .img_overlay, .grid figure .img_overlay > a {
    width: 182px;
    height: 182px;
}
.great_recipes  a.product_title {
    font-size: 20px;
    color: #b7b7b7;
}
.great_recipes  a.product_title:hover {
    color: #fc9486;
}
#why_we_love {
    padding: 24px 0;
    text-align: center;
}
#the_review {
    padding: 44px 0;
}
.why_we{
	padding:25px 0;
}
.why_we p{
	margin-bottom:18px;
}
.why_we h6{
	font-size:18px;
    font-family: 'times_new_romanbold_italic'
}
.review_box {
    background-color: #eff0ea;
    padding: 17px 18px 22px 10px;
    width: 1035px;
    margin-top: 47px;
}
.writer_info {
    width: 98px;
    display: table-cell;
    vertical-align: top;
    text-align: center;
}
.review_cmt {
    width: 950px;
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}
.write_img {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
}
.write_img img{
	border-radius:50%;
	max-width:100%;
}
.writer_info h6 {
    font-size: 18px;
    margin-bottom: 2px;
}
.wrt_login_logout a {
    color: #b7b7b7;
    font-size: 18px;
}
.count_circle, .star_count h3 {
    display: inline-block;
    vertical-align: middle;
}
.count_circle:after{
	clear:both;
	display:block;
	content:'';
}
.review_comment {
    width: 100%;
    height: 100px;
    border: 1px solid #bfc0bb;
    padding: 12px;
    box-sizing: border-box;
    font-family: 'times_new_romanregular';
    font-size: 18px;
}
.count_circle a {
    border: 2px solid #b8b8b8;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    color: #b7b7b7;
	margin-right:3px;
	background-color:#fff;
}
.count_circle a:hover {
    border: 2px solid #fc9486;
    color: #fff;
	background-color:#fc9486;
	margin-right:3px;
}
.star_count h3{
	line-height:36px;
	margin-right:8px;
}
.star_count{
	margin-top:10px;
	float:left;
}
.post{
	font-size:30px;
	float:right;
	width:145px;
	margin-top:10px;
}
.reviews_list {
    padding-top: 23px;
}
.all_reviews {
    width: 860px;
    margin-top: 40px;
}
.review_writer{
	display:table-cell;
	width:125px;
	text-align:center;
	vertical-align:top;
}
.reviews {
    width: 735px;
    display: table-cell;
    vertical-align: top;
}
.reviews .stars{
	padding:2px 0;
}
.reviews h5{
	font-size:28px;
	float:left;
}
.name_date:after{
	content:'';
	display:block;
	clear:both;
}
.name_date .date_review p {
    float: right;
    font-size: 18px;
    font-family: 'times_new_romanregular';
    color: #b7b7b7;
    margin: 0;
}
.reviews p {
    margin-bottom: 20px;
    display: inline-block;
}
.yesorno{
	display:inline-block;
	margin-left:10px;
}
.yesorno a{
	font-family: 'bebas_neuebold';
	color:#606060;
	font-size:20px;
	padding:0 15px;
	border-right:1px solid #b7b7b7;
}
.yesorno a:hover {
    color: #fc9486;
}
.yesorno a:last-child{
	border:none;
}
.reviews .dividers_vr{
	margin-top:25px;
	width:190px;
}
.reviews_list:last-child .dividers_vr{
	display:none;
}
.smoothing h2{
	font-family: 'manustrialmanustrial';
	font-size:36px;
	text-align:center;
	color:#fc9486;
	margin-top:20px;
}



/*=====================================   about _page  =======================================  */

.feed_love_banner{
	background:url(../images/feed_love_banner.jpg) center no-repeat;
	background-size:100%;
	height:450px;	
	position:relative;
}
#eat_feed_love{
	padding:40px 0 0;
}
.caption{
    top: 50%;
    position: absolute;
    margin-top: -80px;
    width: 100%;
}
.caption h1 {
    font-size: 60px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.caption .caption_pg{
	width:45%;
	margin:auto;
}
.caption .caption_pg p, .caption .caption_pg span {
    font-family: 'times_new_romanregular';
    font-style: italic;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 4px 5px rgba(0,0,0,0.75);
}
.caption .caption_pg span {
    text-align: right;
    display: block;
    margin-top: 10px;
    padding-right: 60px;
}
.mission_about.mission_content {
    padding: 45px 0 16px;
    border: none;
    margin: 0;
}
.mission_about .pillers_title h2 {
    display: block;
    margin: 17px 0px 0;
}
.mission_about .pillers_title {
    margin-bottom: 0px;
}
.mission_about .pillars {
    padding: 0 108px 0 0px;
    width: 320px;
}
.mission_about .pillars:nth-child(3n){
    padding:0px;
}
#Mission_Statement {
    padding: 30px 0 70px;
    text-align: center;
}
.mission_tag {
    font-family: 'times_new_romanbold_italic';
    font-size: 22px;
    margin-top: 20px;
}
.about_img, .stroy_img {
    margin-top: 74px;
}
.about_img img{
	max-width:100%;
}
.our_tem{
	width:80%;
	margin:auto;
}
.team_address{
	margin-top:20px;
}
.team_address li{
	font-family: 'times_new_romanbold_italic';
	font-size:18px;
	margin-bottom:1px;
	text-align:center;
	color: #606060;
}




/*====================  sales page  ============================*/


#sales_special {
    padding: 50px 0 30px;
}
#sales_special .dividers_vr {
    margin-top: 20px;
}
.sales_list .sales_item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 39px 35px 0 0;
    width: 570px;
    cursor: pointer;
}
.sales_list .sales_item:nth-child(2n) {
    margin: 39px 0px 0 0;
}

.sales_list .sales_item .sales_img_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 570px;
    height: 380px;
}

.sales_item .sales_img_overlay > a {
    font-size: 30px;
    opacity: 1;
    color: #fff;
    top: 80%;
    position: relative;
    opacity: 0;
    font-family: 'bebas_neuebold';
    letter-spacing: 2px;
    display: block;
    text-align: center;
}
.sales_item:hover .sales_img_overlay {
    background-color: rgba(254, 142, 141, 0.7);
}
.sales_item:hover .sales_img_overlay > a {
    top: 48%;
    opacity: 1;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}
.sales_item img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width: 100%;
    height: 100%;
}
.sales_item:hover img {
	opacity: 0.4;
}
.sales_item .sales_img_overlay::before,
.sales_item .sales_img_overlay::after {
	position: absolute;
	top: 20px;
	right:20px;
	bottom:20px;
	left:20px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.sales_item .sales_img_overlay::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.sales_item .sales_img_overlay::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}
.sales_item:hover .sales_img_overlay::before,
.sales_item:hover .sales_img_overlay::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.sales_img {
    height: 380px;
    width: 570px;
    overflow: hidden;
    display: block;
}
.sales_info_box{
	padding:6px;
	background-color:#eff0ea;
}
.sales_info_box a.sales_title{
	float:left;	
	color:#606060;
	font-size:36px;
	font-family: 'bebas_neuebold';
}
.sales_info_box .old_new_price {
    float: right;
}
.old_new_price h5 sup{
	font-size:20px;
	vertical-align:top;
}
.old_new_price h5{
	float:left;
	font-size:36px;
	margin-left:15px;
	color:#b7b7b7;
}
h5.sale_price{
	color:#fc9486;
}
.old_new_price:after{
	content:'';
	clear:both;
}
.old_new_price:before {
    border-left: 1px solid #b7b7b7;
    height: 20px;
    content: '';
    float: left;
    top: 8px;
    position: relative;
}


/*=========================== taste-club ============= */

#taste-club{
	padding:40px 0 0;
}
#our_mission.how_works{
	padding:42px 0 55px;
}

.how_works .mission_item.works_1 {
	background: url(../images/works_1.png) no-repeat center;
	width: 80px;
}
.how_works .mission_item.works_2 {
    background: url(../images/works_2.png) no-repeat center;
    width: 118px;
}
.how_works .mission_item.works_3 {
    background: url(../images/works_3.png) no-repeat center;   
    width: 76px;
}
.how_works .mission_item{
	height: 74px;
	display: inline-block;
	background-size: 100%;
}

#inside_box {
    padding: 60px 0;
    text-align: center;
    background-color: #eff0ea;
}
p.inside_text{
    width: 80%;
    margin: auto;
}
.inside_box_img{
	margin-top:30px;
}
.filled_text{
	width:80%;
	margin:auto;
}
#filled_with_love {
    padding: 42px 0 36px;
    text-align: center;
}
.love_logo {
    margin: 25px 0;
}
#get_started {
    padding: 0px 0 30px;
}
.started_bg {
    background: url(../images/started_bg.jpg) 50% 50% no-repeat;
    padding: 48px 0 80px;
}
.form_box {
    border: 6px solid #fff;
    background-color: rgba(0,0,0,0.45);
    padding: 13px 50px 0px;
    width: 500px;
    margin: auto;
    position: relative;
}
.form_box h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin-bottom: 12px;
}
.started_form .form_control {
    border: none;
    background: #fff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 25px;
    padding: 2px 15px;
    margin: 0 9px 10px 0;
    border: 1px solid #eff0ea;
    width: 213px;
    float: left;
}
.started_form .form_control.apt_init{
    width: 96px;
}
.started_form .form_control:nth-child(2n){
	margin:0 0 10px 0
}
.started_form textarea.form_control {
    width: 330px;
}
.signup_start {
    font-size: 36px;
    padding: 4px 32px;
    margin: auto;
    position: relative;
    top: 24px;
}



/*========================  error_page   ======================== */

#error_page {
    padding: 60px 0 30px;
}
.error_width {
    width: 721px;
    margin: auto;
}
.error_text {
    float: left;
    width: 265px;
    margin-left: 30px;
}
.error_img {
    float: left;
    width: 382px;
}
.error_img img{
	max-width:100%;
}
.error_text h1 {
    font-size: 200px;
    color: #8ca3b2;
    line-height: 150px;
    margin-top: 35px;
}
.error_text h2{
	font-size:80px;
	color:#b7b7b7;
}
.error_text p{
	color:#b7b7b7;
}
a.back_btn {
    color: #b7b7b7;
    font-size: 30px;
    border: 4px solid #eff0ea;
    background: #fff;
    font-family: 'bebas_neuebold';
    padding: 5px 30px;
    display: inline-block;
    text-align: center;
    margin-top: 34px;
}
a.back_btn:hover{
	background-color:#fc9486;
	color:#fff;
	border:4px solid #fc9486;
	
}

/*============================ CHECKOUT CONFIRM   ====================*/

#confirm_page {
    padding: 67px 0;
    text-align: center;
}
.confirm_width h1{
	font-size:80px;
    color: #94a9b7;
}
.helped_feed{
    font-size: 24px;
    color: #b7b7b7;
    letter-spacing: 1px;
}
.helped_feed span{
	color:#fc9486;
}
.confirm_pg{
	width: 410px;
	margin: 34px auto 13px;
	color:#b7b7b7;
}
.mail_edit a {
    color: #b7b7b7;
    font-size: 20px;
    font-family: 'times_new_romanbold';
    display: inline-block;
    margin: 0 14px;
}
.mail_edit a.editmail{
	color:#8ca3b2;
	text-decoration:underline;
	font-size:14px;
}
.confirm p{
	font-size: 20px;
    font-family: 'times_new_romanbold';
    color: #b7b7b7;
    margin-top: 30px;
    letter-spacing: 1px;
}

/*====================== our_blog  ==================  */

#our_blog {
    padding: 38px 0;
}
h1.main_title {
    font-family: 'notera_personal_use_onlyRg';
    font-size: 80px;
    margin-bottom: 20px;
}
.blog_main_item{
	width:700px;
	float:left;
}
.share_blog ul li {
    display: inline-block;
    margin: 0 22px 0 4px;
}
.share_blog ul li a .fa {
    color: #606060;
    font-size: 21px;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none;
}
.share_blog ul li a .fa:hover{
	color:#fc9486;	
}
.blog_item {
    margin-bottom: 60px;
}
.blog_title {
    border-bottom: 1px solid #b7b7b7;
    padding: 8px 0 4px;
}
.blog_title h1 {
    font-size: 50px;
    color: #606060;
    font-family: 'bebas_neuebold';
    margin: 0;
}
.blog_main_img{
	width:700px;
}
.written{
	float:left;
}
.date_blog{
	float:right;
}
.written_date:after {
    content: '';
    clear: both;
    display: block;
}
.blog_pg {
    margin-top: 22px;
}

.blog_pg p firstletter {
    float: left;
    margin: 12px 15px 0 -1px;
    font-family: 'times_new_romanbold';
    color: #606060;
    font-size: 85px;
    line-height: 0.5;
}
.read_more {
    font-family: 'bebas_neuebold';
    font-size: 30px;
    padding: 0px 0 6px;
    color: #606060;
    text-align: center;
    background-color: #eff0ea;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.read_more:after {
    background: url(../images/right_arrow.png) no-repeat 62% 9px;
    content: '';
    display: inline-block;
    width: 20px;
    height: 33px;
    top: 3px;
    position: relative;
    margin-left: 10px;
}
.blog_side_bar {
    width: 380px;
    padding: 0px 45px 0px 0;
    float: left;
    margin-left: 52px;
}
.articles_img{
	width: 125px;
    height: 125px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.related_articles{
	margin-bottom:12px;
}
.related_articles:after{
	clear:both;
	content:'';
	display:block;
}



/*==============================  recipes   =====================================*/

#shop_product.recipes{
	padding:5px 0 60px;
}

.r_search_box {
    background-color: #eff0ea;
    padding: 12px 26px 12px 40px;
	position:relative;
}
#recipes_search{
	margin-bottom:15px;
}
.search-recipes-input {
    display: inline-block;
    margin: 0;
    width: 280px;
    border-radius: 15px;
    padding: 6px 6px 6px 54px;
    font-family: 'times_new_romanregular';
    font-size: 16px;
    color: #606060;
    border: none;
    background: #fff url(../images/search-icon.png) no-repeat 18px 6px;
}
.filter_section{
	float:right;
		
}
.filter_icon {
    width: 53px;
    height: 38px;
    background: url(../images/filter_icon.png) no-repeat;
    float: left;
	cursor:pointer;
}
.filter_icon:after {
    content: '';
    background: url(../images/drop-down-triangle.png) no-repeat right center;
    display: block;
    width: 10px;
    height: 38px;
    cursor: pointer;
    float: right;
}
.filter_section h3 {
    float: left;
    line-height: 38px;
    margin-right: 16px;
}
.remort-filter {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #fff;
    border: 6px solid #eff0ea;
    width: 309px;
    padding: 10px 17px 25px 17px;
    z-index: 9999;
}
.filter_close-icon button {
    border: none;
    background-color: #fff;
    float: right;
    cursor: pointer;
}
label.input_label {
    font-size: 20px;
    font-family: 'bebas_neuebold';
    color: #606060;
    margin-bottom: 5px;
    display: block;
}
.input-group{
	margin-bottom:12px;
}
.input-group .form_control {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 30px;
    padding: 2px 9px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #b7b7b7;
    font-size: 14px;
}
input[type="reset"] {
    border: none;
    background-color: #fff;
    font-family: 'times_new_romanbold';
    float: right;
    color: #fc9486;
    font-size: 14px;
    cursor: pointer;
    line-height: 19px;
}
.select-group{
	position:relative;
	margin-top:12px;
}
.select-group select {
    display: inline-block;
    border: 1px solid #b7b7b7;
    padding: 4px 3px 3px 5px;
    margin: 0;
    background: #fff;
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
    width: 100%;
	font-family: 'times_new_romanbold';
	color:#606060;
	font-size:14px;
	text-transform:capitalize;
}
.select-group:after {
    content: "";
    background: url(../images/drop-down-triangle.png) no-repeat center;
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    width: 32px;
    height: 10px;
    border-left: 1px solid #b7b7b7;
}

.no-pointer-events .select-group:after {
	content: none;
}

.remort-filter .btn_style {
    width: 100%;
    font-size: 36px;
    padding: 4px 0;
    margin-top: 18px;
}
.resipes_list .filter_nav {
    margin-top: 0;
    padding: 0;
}
.resipes_list .filter_nav li {
    float: left;
    padding: 0 21px 0px;
}
.resipes_list .filter_nav li a{
	color:#8ca3b2;
	letter-spacing:1px;
}
.resipes_list .filter_nav li a:hover{
	color:#fc9486;
}
.Recipes_main_title{
	font-family: 'notera_personal_use_onlyRg';;
	font-size:80px;
	color:#606060;
	margin-top:30px;
}
.searched_resipes_list{
    padding-bottom: 30px;
}


/*==============================  recipes_deatils   =====================================*/
.add_recipes {
    display: inline-block;
    font-size: 20px;
    padding: 6px 42px;
	margin-top:20px;
}
.ingredients span{
	color:#fc9486;
}

.recipes_note{
    margin-top: 30px;
}
.content_title p{
	font-family: 'times_new_romanregular';
	font-style:italic;
	color:#b7b7b7;
	text-align:center;
}
#method{
	padding:40px 0;
}
.method_step{
	width:95%;
	margin:15px auto;
	text-align:center;
}

.recipes_prodcut .product_item .img_overlay > a{
	width: 156px;
	box-shadow: 0px 3px 7px rgba(0,0,0,.45);
	margin: 20px auto;
}
.recipes_prodcut .product_item:hover .img_overlay > a {
    opacity: 1;
    top: 22%;
}
.recipes_prodcut .product_item:hover .img_overlay {
    background-color: rgba(254, 142, 141, 0);
}
.recipes_prodcut .product_item .img_overlay::before{
	display:none;
}
.recipes_prodcut .cart_btn{
	margin:35px auto 0px;
}
#recipes_prodcut {
    padding: 27px 0 30px;
}
.recipes_review {
    margin-left: 88px;
}
.spoon {
    background: url(../images/spoon.png) center no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.spoon {
    background: url(../images/spoon.png) center no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.spoon.empty {
    background: url(../images/sppon_empty.png) center no-repeat;
}
.main_menu_mobile:after, .currency:after, .connect:after, .mobile_account:after{
	content:'';
	clear:both;
	display:block;
}
.main_menu_mobile li:last-child, .currency li:last-child, .connect li:last-child, .mobile_account li:last-child{
	border:none !important;
	
}
.menu_text{
	text-align:center;
	padding:38px 0;
	 font-family: 'notera_personal_use_onlyRg';
	 font-size:40px;
	 color:#fc9486;
}
.mean-nav .fa {
    width: 30px;
    margin-right: 12px;
    text-align: center;
}


/*===================================================================  new_style =======================================*/


.mean-container .mean-nav ul li a.tick_mark {
    background: url(../images/tick_mark.jpg) no-repeat right 23px;
}
.social-icons.dp_view{
	display:inline-block;
}
.mission_item {
    display: inline-block;
    width: 60px;
    height: 41px;
    top: 3px;
    position: relative;
}
.logo img{
	max-width:100%;
}
#blog_post {
    padding: 36px 0 0px;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.cetegories .bx-wrapper {
    position: relative;
    margin: 0 auto 0px;
    padding: 0;
}

#taste-club img{
	max-width:100%;
}

.sreach_recipes_form {
    float: left;
    margin-top: 3px;
}
#items.product_list .product_item:nth-child(4n) {
    min-height: auto;
}
.recipes_main_img{
	width: 550px;
	float: left;
	margin-right: 60px;
}
.recipes_main_img img{
	max-width:100%;
}
.recipes_info_details{
	float: left;
	width: 567px;
}
.recipes_info_details .product_nameprice h2.name {
    margin-bottom:5px;
	border:none;
}
.inside_box_img img{
	max-width:100%;
}

.blog_main_img img{
	max-width:100%;
}
.read_more:hover {
    color: #fff;
    background-color: #fc9486;
	transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-webkit-transition:all 0.25s;
}
.read_more:hover:after {
    background: url(../images/right_arrow-hover.png) no-repeat 62% 9px;
    content: '';
		transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	-webkit-transition:all 0.25s;
}

#our_blog {
    padding: 38px 0 5px;
}
.filter_block{
	margin-right:-56px;
}

#product_filter .container, .searched_resipes_list .container {
    overflow: hidden;
}
.blog_info{
	width:700px;
}
.written_date {
    padding: 5px 0 13px;
	margin:0
}

.related_blog_list {
    margin-top: 0;
}
.articles_title a{
	font-size:30px;
	font-family: 'bebas_neuebold';
	color:#606060;
    letter-spacing: 0.5px;
}
.articles_title a:hover, .blog_title a:hover{
	color:#fc9486;
}
.blog_title a{
	font-size:50px;
	font-family: 'bebas_neuebold';
	color:#606060;
    letter-spacing: 0.5px;
}

.stroy_img img{
	max-width:100%;
}

.main-nav ul h4{
	position:relative;
}
h4 .close_arrow{
    position: absolute;
    background: url(../images/close-arrow.png) no-repeat center;
    width: 22px;
    height: 35px;
    display: block;
    top: 30px;
    right: 25px;
	cursor:pointer;
	z-index:99999999;
}


/*===== checkout ===== */

#product_confornm {
    padding: 40px 0 30px;
}
.buy_process {
    margin: 0px 8px 0;
    background-color: #eff0ea;
    padding: 19px 0;
}
.process_title {    
    font-family: 'bebas_neuebold';
    width: 387px;
    float: left;
	text-align:center;
}
.process_title:after{
	content:'';
	background:url(../images/right_arrow-hover.png) no-repeat right center;
	width:20px;
	height:30px;
	float:right;
}
.buy_process:after{
	content:'';
	clear:both;
	display:block;
}
.buy_process .process_title:last-child:after{
	content:'';
	background:url(../images/right_arrow-hover.png) no-repeat right center;
	width:20px;
	height:30px;
	float:right;
	display:none;
}
.process_title a{
	color: #606060;
	font-size: 30px;
	display:inline-block;
}
.confirm_cart_address{
	width:1161px;
	margin:30px auto 0;
}

.confirm_cart {
    width: 515px;
    float: right;
}
.confirm_cart form {
    border: 5px solid #eff0ea;
    border-bottom: 0;
}
.confirm_address {
    width: 646px;
    float: right;
    text-align: center;
}
.shipping_adress h5 {
    font-size: 20px;
    display: inline-block;
    margin: 0 14px;
}

.shipping_adress a{
	font-size: 14px;
	color: #8ca3b2;
	text-decoration: underline;
	font-family: 'times_new_romanregular';
}
.shipping_adress {
    margin-top: 19px;
}
.shipping_adress p {
    font-family: 'times_new_romanregular';
    font-size: 14px;
    color: #606060;
    line-height:18px;
	margin-top:5px
}
.confirm_address h3 {
    margin-top: 20px;
}
.confirm_address h3 span{
	margin-left:15px;
	color:#8ca3b2;
}
.btn_style.order {
    display: inline-block;
    font-size: 36px;
    padding: 6px 82px;
    margin-top: 34px;
}

.confirm_cart h1{
	text-align:center;
	line-height:40px;
	margin-top:18px;
}
.confirm_cart h1:after{
	content:'';
	width:80px;
	height:3px;
	background-color:#eff0ea;
	margin:auto;
	display:block;	
}
.confirm_cart .cart_pro_list .cart_pro_item {
    width: 82px;
    float: left;
    margin: 25px 38px 0 0;
}
.confirm_cart .cart_pro_list .cart_pro_item:nth-child(4n) {
    margin: 25px 0px 0 0;
}
.pro_cart_info h6 {
    font-size: 14px;
    color: #606060;
    font-family: 'bebas_neuebold';
}
span.second_price {
    float: right;
    color: #FC9486;
}
.confirm_cart .cart_pro_list{
    padding: 0 30px 40px;
}
.price_table {
    padding: 14px 40px 15px;
}
.confirm_cart .divider{
	width:82px;
	height:3px;
	background-color:#eff0ea;
	margin:auto;
	display:block;
}
.price_rw {
    display: table;
    width: 100%;
    font-size: 18px;
    color: #606060;
    font-family: 'times_new_romanregular';
    margin-bottom: 6px;
}
.table_title{
	display:table-cell;
	text-align:left;
}
.table_cnt{
	display:table-cell;
	text-align:right;
}
.coupon_code {
    font-size: 20px;
    font-family: 'bebas_neuebold';
    color: #FC9486;
    margin-top: 14px;
    display: block;
}
.coupon_code:hover {
    color: #8ca3b2;
}
.confirm_cart .code-title-section {
    padding: 20px 30px;
    margin-bottom: 0;
}
.confirm_cart  .sub-title{
    width: 100%;
	margin:0;
}

.confirm_cart  .sub-title span{
	margin:0;
}
.finel_price{
	float:right;
}

.perfectly_img{
	width:125px;
	height:125px;
	display:table-cell;
}
.perfectly_img img{
	max-width:100%;
}
.perfectly_title{
	width:388px;
	height:125px;
	background-color:#8ca3b2;
	display:table-cell;
	text-align:center;
	vertical-align:middle	
}
.perfectly_title h3{
	color:#fff;
	margin-bottom:3px;
}
.perfectly_title h5{
	color:#fff;
	font-size:20px;
	margin-bottom:3px;
}
.perfectly_cart {
    border: 3px solid #fff;
    color: #fff;
    font-family: 'bebas_neuebold';
    padding: 4px 63px;
    display: inline-block;
    font-size: 20px;
}
.perfectly_cart:after {
    content: '';
    background: url(../images/top_arrow.png) center no-repeat;
    width: 20px;
    height: 14px;
    display: inline-block;
    margin-left: 10px;
}
.perfectly_order {
    margin-top: 16px;
}

#cart {
    padding: 40px 0 20px;
}
.cart_page {
    margin-top: 20px;
}
.cart_page .cart_pro_list {
    padding: 0 0px 30px;
}
.cart_page .price_table {
    padding: 14px 0px 15px;
}
.cart_page .price_rw {
    width: 35%;
    font-size: 20px;
}

.total_price .table_title, .total_price .table_cnt{
    font-family: 'bebas_neuebold';
	font-size:30px;
}
.total_price .table_cnt{
	color:#8ca3b2;
}
.price_rw.total_price{
	padding-top:15px;
}
.checkout {
	display:inline-block;
	font-size:24px;
	padding:7px 50px;
	margin-top:20px
}
.cart_page .cart_pro_list .cart_pro_item .remove-select select {
    width: 138px;
    font-size: 18px;
    padding: 4px;
}
.cart_page .cart_pro_list .cart_pro_item .remove-select a {
    background-color: #606060;
    width: 30px;
    height: 30px;
}
.cart_page .cart_pro_list .cart_pro_item .remove-select a img{
    margin: 5px;
}
.cart_page .pro_cart_info h6 {
    font-size: 16px;
}
.cart_page .pro_cart_info p {
    font-size: 18px;
}
.cart_page .pro_cart_img {
    width: 100%;
    margin-bottom: 8px;
}
.cart_page .cart_pro_list .cart_pro_item {
    width: 170px;
    float: left;
    margin: 25px 31px 0 0;
}
.cart_page .cart_pro_list .cart_pro_item:nth-child(6n){
	margin: 25px 00px 0 0;
}


/*============    privacy-policy    ================= */

.container#eat_feed_love h5{
	font-size:24px;
	font-family: 'times_new_romanbold';
	margin-bottom:10px;
}





/*============    giving_back    ================= */


.giving_back #brackfast_banner{
	margin-bottom:40px;
}
#all_works{
	padding:30px 0;
}
.work_info{
    width: 58%;
    margin: 20px auto 0;
    text-align: center;
}
.work_info p{
	margin-bottom:20px;
}

#solution{
	background-color:#eff0ea;
	padding:32px 0;
	margin-bottom:50px;
}
.solution_img{
	float:left;
    width: 576px;
    padding: 0 7px;
}
.solution_img img{
	max-width:100%;
}
.solution_info {
    width: 521px;
    float: left;
    padding: 0 33px;
    text-align: center;
	position:absolute;
	right:0;
	top:50%;
}
.solution_info .content_title{
	margin-bottom:15px;
}
#solution .container{
	position:relative;
}


#working_steps {
    background-color: #eff0ea;
    padding: 33px 0;
	margin-bottom:38px;
}

.work_img{
	width:72px;
	height:64px;
	display:block;
	margin: 0 auto 15px;
}

.work_img img{
	 max-height:100%;
}
.steps_cnt h6{
	font-size:18px;
}
.steps_cnt{
    width: 122px;
    display: inline-block;
    text-align: center;	
	position:relative;
	margin-left:135px;
}

.steps_cnt .next-step{
    position: absolute;
    top: 50%;
    right: -98px;
    width: 58px;
    height: 30px;
    background: url(../images/img/work-arrow.png) no-repeat;
    background-size: 100%;
    margin-top: -15px;
}

#Charities{
	padding-bottom:80px;
}
.Charities_group{
	width:254px;
	float:left;
	padding:0 20px;
	text-align:center;
}
.group_img{
    width: 160px;
    height: 62px;
    display: block;
    margin: auto;
}
.group_img img{
	max-height:100%;
}

.Charities_group .dividers_vr {
    width: 80px;
    margin: 18px auto;
}
