/***********************************
 * Layout
 ***********************************/
.wSelect-el {
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
	overflow: hidden;
}
.wSelect {
    position: relative;
    float: left;
	margin:0 9px 9px 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wSelect-arrow {
    position: absolute;
    width: 20px;
    right: 0px;
    top: 0px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.wSelect-selected {
    padding: 5px 0 5px 0;
    background-repeat: no-repeat;
    background-position: 0 center;
    overflow: hidden;
    margin-left: 4px;
}
.wSelect-options-holder {
	position: absolute;
	display: none;
	left: 0px;
	z-index: 200;
}
.wSelect-multiple .wSelect-options-holder {
	position: relative !important;
	display: block !important;
	top: auto !important;
	z-index: auto !important;
	border: none !important;
}
.wSelect-options {
    height: auto !important;
}
.wSelect-option {
	background-repeat: no-repeat;
	background-position: 5px center;
	margin-bottom: 1px;
	cursor: pointer;
}

.wSelect-option-value {
    margin: 0 20px 0 5px;
    padding: 5px 0;
    background-repeat: no-repeat;
    background-position: 0 center;
    white-space: nowrap;
    overflow: hidden;
}

.wSelect-option-icon {
	padding-left: 42px;
}

/***********************************
 * Theme - classic
 ***********************************/
.wSelect-theme-classic.wSelect {
    border: solid #eff0ea 1px;
    color: #b7b7b7;
    background-color: #fff;
    font-size: 16px;
    font-family: 'times_new_romanregular';
    line-height: 19px;
    width: 107px !important;
    text-transform: uppercase;
}
.wSelect-arrow {
	background-image:url(../images/drop-down-triangle.png);
}

.wSelect-theme-classic .wSelect-options-holder {
	background-color: #FAFAFA;
	border: solid #CACACA 1px;
}

