<footer id="footer">
	<div class="container">
    	<div class="right_part">             
            <div class="newsletter">
            	<h4 class="ftr_title">newsletter signup</h4>
                <div class="signup_field nsignup">                	
                    <form>
                    	<input type="text" placeholder="e-mail" class="form_control"/>
                        <button class="mail_submit btn_style">submit</button>
                    </form>
                </div>
            </div>
            <div class="our_contact">
                <div class="socila_icon">
                    <ul>
                        <li><a href=""><img src="{{ 'facebook.png' | asset_url }}" /></a></li>
                        <li><a href=""><img src="{{ 'twitter.png' | asset_url }}"/></a></li>    
                        <li><a href=""><img src="{{ 'instagram.png' | asset_url }}"/></a></li>
                        <li><a href=""><img src="{{ 'pin.png' | asset_url }}"/></a></li>                                   
                    </ul>
                </div>     
                 <div class="clear"></div>         
                <div class="call_mail">
                    <div> give us a call <a href="tel:250.882.9196" class="call">250.882.9196</a></div>
                    <div><a href="mailto:info@eatfeedlove.com" class="mail">info@eatfeedlove.com</a></div>			
                </div>    
                <div class="all_right">
                        ©2015 eat.feed.love. All rights reserved
                        <a href="">terms</a><a href="">privecy</a>
                    </div>
                <div class="footer_logo">
                    <a href=""><img src="{{ section.settings.flogo  | img_url: 'master'  }}" /></div></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="imp_links">
             {% for block in section.blocks limit:3 %}
                <div class="company_links">
                    <h4 class="ftr_title">{{block.settings.title}}</h4>
                    <ul>
                        {% for link in linklists[block.settings.footerlink].links%}
                            <li><a href= "{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %} 
                    </ul>
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div> 
        <div class="clear"></div> 	
    </div>
</footer>
<!-- FOOTER END -->

{% schema %}
  {
    "name": "footer",
    "settings": [      
        {
            "type": "image_picker",
            "id": "flogo",
            "label": "Logo image",
            "info": "Image dimension should be 252 x 67 px."
        }
    ],
    "blocks" :[
        {
            "type": "header",
            "name": "menu",
            "settings": [
                {
                    "type": "text",
                    "label": "menu Title",
                    "id": "title"
                },
                {
                    "type": "link_list",
                    "id": "footerlink",
                    "label": "footer menu"
                }
            ]
		}
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
