
<header>
	<div class="topbar">
    	<div class="container">
            <div class="charity">
            	<button class="charity_count">PEOPLE YOU’VE FED:   <span> 58,540 </span> <img src="{{ 'drop-down-triangle.png' | asset_url }}" /></button>
            	<div class="People-fed-dropdown">
                	<h1>everytime  you purchase something from us, you are feeding someone in need</h1>
                    <p>We are committed to empowering everyone to be able to do something about world hunger. Every time you purchase a product from EFL, no matter how big or small, we will commit to feeding a person in need. Its that simple! </p>
                    <p class="script-font">Eat something that matters</p>
                </div>
            </div>
            <div class="account-and-social">
                <span class="account">
                {% if shop.customer_accounts_enabled %}
                        {% if customer %}
                            {% if customer.first_name != blank %}
                                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                            {% else %}
                            <a href="/account">{{ 'layout.customer.account' | t }}</a>
                        {% endif %}
                        | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                        {% else %}
                        <a href="">{{ 'ACCOUNT' | customer_register_link }}</a>
                        {% endif %}
                {% endif %}
                </span>
                <span class="social-icons dp_view">
                	<a href="#" target="_blank" ><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" ><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a>
                    <a href="#" target="_blank" ><i class="fa fa-instagram"></i></a>
                </span>
            </div>	
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="logo-section">
    	<div class="container">
    		<div class="logo dp_view">
                <a href="#">
                    <img src="{{ section.settings.hlogo  | img_url: 'master'  }}" />
                </a>
            </div>
        	<div class="utility-section dp_view">
                <div class="search-bar">
                    <input type="submit" class="search_icon" style="display: inline-block;">
                    <form class="search-form" action="/search" method="get" >
                      <input class="search-input" name="q" type="text" placeholder="Search" value="">
                      <input type="submit" class="search_icon_submit">
                    </form>
                </div>
                <div class="curruncy_change">
                	<span class="flag"><a href="#"><img src="{{ 'US-flag.png' | asset_url }}" class="flag-icon"/> $ <img class="drop-down-icon" src="{{ 'drop-down-triangle.png' | asset_url }}"/></a></span>
                    <div class="select-flag">
                    	<p>Currency</p>
                        <ul>
                        	<li><img src="{{ 'US-flag.png' | asset_url }}" /> USD</li>
                            <li><img src="{{ 'CA.png' | asset_url }}" /> CND</li>
                        </ul>
                    </div>
                </div>
                <div class="cart_section">
                	<div class="cart_icon">
                    	<a href="#"><span class="cart-item"><span id="CartCount">{{ cart.item_count }}</span></span></a>
                    </div>
                </div>
            </div>
        	<div class="clear"></div>
            <div class="remort-cart">
                <div class="close-icon"><button><img src="{{ 'close-icon.png' | asset_url }}" /></button></div>
                <div class="clear"></div>
                <form>
                    <h1 class="cart-title">My Shopping Cart</h1>
                    <div class="cart_pro_list">
                        <div class="cart_pro_item">
                            <div class="remove-select">
                                <a href="#"><img src="{{ 'remove-icon.png' | asset_url }}" /></a>
                                <select>
                                    {% for i in (1..20) limit:10 %}
                                        <option>QTY {{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="pro_cart_img">
                                <img src="images/cart-img-1.png" />
                            </div>
                            <div class="pro_cart_info">
                                <h1 class="pro_cart_name">Carving set...</h1>
                                <p class="pro_cart_price">$42</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="code-title-section">
                        <div class="coupon-code"><span>COUPON Code</span><input type="text" /></div>
                        <div class="sub-title"><span>Sub TOTAL</span>$488</div>
                        <div class="clear"></div>
                    </div>
                    <div class="cart-footer">
                        <div class="keep-shopping-sectopn"><a href="#">KEEP SHOPPING</a></div>
                        <div class="checkout-section"><input type="submit" value="CHECKOUT" /></div>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="main_menu">
    	<div class="container">  
        	<nav id="main-nav">         
                <ul> 
                    <h4 class="mb_menu_title">menu<span class="close_arrow"></span></h4>   
                    <div class="main_menu_mobile">        
                        {% for link in linklists[section.settings.navbar_link].links %}
                            <li><a href= "{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}    
                    </div>   
                    <div class="currency mb_view">                    	
                        <h4 class="mb_menu_title">CURRENCY SELECTION</h4>               
                        <li><a href="" class="tick_mark">USD $</a></li>
                        <li><a href="">CND $ </a></li>                       
                    </div> 
                    <div class="connect mb_view">                    	
                        <h4 class="mb_menu_title">CONNECT WITH US</h4>               
                        <li><a href="https://facebook.com"><i class="fa fa-facebook"></i>facebook</a></li>
                        <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i>instagram </a></li> 
                        <li><a href="https://twitter.com"><i class="fa fa-twitter"></i>twitter</a></li>
                        <li><a href="https://pinterest.com"> <i class="fa fa-pinterest"></i>pinterest</a></li>              
                    </div> 
                    <div class="mobile_account mb_view">
                        <h4 class="mb_menu_title">ACCOUNT</h4>    
                        {% if shop.customer_accounts_enabled %}
                            {% if customer %}
                                <li class="mobile-nav__item">
                                    {% if customer.first_name != blank %}
                                    {% capture first_name %}{{ customer.first_name }}{% endcapture %}
                                    <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
                                    {% else %}
                                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                                    {% endif %}
                                </li>
                                <li class="mobile-nav__item">
                                    {{ 'layout.customer.log_out' | t | customer_logout_link }}
                                </li>
                            {% else %}
                            <li class="mobile-nav__item">
                                {{ 'layout.customer.log_in' | t | customer_login_link }}
                            </li>
                            {% endif %}
                        {% endif %}                  	
                        <li><a href="">MY ACCOUNT</a></li>
                        {% comment %} <li><a href="">LOG IN / LOG OUT </a></li>   {% endcomment %}
                        <li><a href="">customer care</a></li>
                    </div>  
                    <div class="menu_text mb_view">Eat something that matters</div>              
                </ul>                       
            </nav> 	
        </div>
    </div>    
    <div class="search-bar mobile_search mb_view">  
        <form class="search-form-mobile" action="/search" method="get" >
          <input class="search-input" name="q" type="text" placeholder="Search" value="">
          <input type="submit" class="search_icon_submit">
        </form>
    </div>
</header>
{% schema %}
  {
    "name": "header",
    "settings": [      
       {
            "type": "image_picker",
            "id": "hlogo",
            "label": "Logo image",
            "info": "Image dimension should be 296 x 96 px."
       },
       {
        "type": "header",
        "content": "Navigation section"
       },
       {
        "type": "link_list",
        "id": "navbar_link",
        "label": "Menu Link"
       }
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}
