
<div id="shop_product" class="thumb_slider">
  <div class="container">
      {%assign coll_title = collections[section.settings.select_collection] %} 
      <div class="content_title">
        <h2>{% if section.settings.customtitle != blank %}{{section.settings.customtitle }}{% else %}{{coll_title.title}}{% endif %}</h2>
      </div>
      <div class="product_list">
        {% for product in collections[section.settings.select_collection].products limit:4 %}
        <div class="product_item">
          <div class="product_img">
            <a href="{{ product.url | within: collection }}">
              <img src="{{ product.featured_image.src | img_url: 'large' }}" />
            </a>
            <div class="img_overlay">													
              <a href="{{ product.url | within: collection }}">View more</a>
            </div>  
          </div>
          <div class="product_info_box">
            <a href="" class="product_title">{{product.title}}</a>
            <h5 class="product_price">{{product.price | money_without_trailing_zeros }}</h5>                        
          </div>
        </div>
        {% endfor %}                                
        <div class="clear"></div>
      </div> 
  </div>    
</div>

{% schema %}
  {
    "name": "featured Collection",
    "settings": [
        {
            "type": "header",
            "content": "featured collections"
        },
        {
            "type": "collection", 
            "id": "select_collection",
            "label": "collection name"
        },
        {
            "type": "text", 
            "id": "customtitle",
            "label": "collection name"
        }
	  ],
    "presets": [
      {
        "category": "featured collection",
        "name": "featured Collection",
        "settings": {
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
