<div class="shipping_add">
    <div class="container">
        <h4>{{section.settings.shippingadd}}</h4>
    </div>
</div>
<div id="blog_post">
    <div class="container">  
        {%capture blog_art%}blog{% endcapture%}
        {% assign blog_post =  section.settings[blog_art] %} 
        {% assign blog_title = blogs[blog_post]%}
        {% for article in blog_title.articles  %}
            <div class="blog_list">
                <div class="blog_img">
                    <a href="{{ article.url }}"><img src="{{ article.image | img_url: 'large'}}"/></a>
                </div>
                <div class="blog_prg">
                    <a href="{{ article.url }}"><h3>{{article.title}}</h3></a>
                    <p>{{article.content}}</p>
                </div>
                <div class="clear"></div>
            </div>       
        {% endfor %}
    </div>
</div>


{% schema%}
    {
        "name":"index_blog",
        "settings":[
            {
                "type":"header",
                "content":"articles"
            },
            {
                "type":"text",
                "id":"shippingadd",
                "label":"Shipping add"
            },
            {
                "type": "blog",
                "label": "index blog",
                "id": "blog"
            }
        ],
        "presets": [
            {
                "category": "index_blog",
                "name": "index_blog",
                "settings": {
                }
            }
        ]
    }
{% endschema%}
