<div id="spices_signup">
    <div class="container">
        <div class="spices">
            <a href=""><img src="{{ section.settings.probannerimg | img_url: 'master'}}"></a>
        </div>  
        <div class="signup">
            <img src="{{ section.settings.signupbanner | img_url: 'master'}}">
            <div class="signup_field">
                <h5>{{section.settings.signuptext}}</h5>
                <form>
                    <input type="text" placeholder="email" class="form_control">
                    <button class="mail_submit btn_style">submit</button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

{% schema %}
    {
    "name": "ProBanner",
    "settings": [      
        {
            "type": "header",
            "content": "ProBanners"
        },
        {
            "type": "image_picker", 
            "id": "probannerimg",
            "label": "ProBanner image"
        },
        {
            "type":"image_picker",
            "id":"signupbanner",
            "label": "signupbanner image"
        },
        {
            "type":"text",
            "id":"signuptext",
            "label":"signup text"
        }   
    ],
    "presets": [
      {
        "category": "ProBanners",
        "name": "ProBanner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}