
{%for block in section.blocks  %}
   <div id="brackfast_banner">    	
        <div class="container">				
             <a href=""><img src="{{ block.settings.bannerimg | img_url: 'master' }}" /></a>                
        </div>    
    </div>
{% endfor %}
{%for block in section.blocks limit:1 %}
    
{% endfor %}
{% schema %}
  {
    "name": "MainBanner",
    "settings": [      
        {
            "type": "header",
            "content": "MainBanners"
        }
    ],
	"blocks" :[
        {
            "type": "header",
            "name": "MainBanner",
            "settings": [
                {
                    "type": "image_picker", 
                    "id": "bannerimg",
                    "label": "banner image"
                }   
            ]
		}    
    ],
    "presets": [
      {
        "category": "MainBanners",
        "name": "MainBanner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}