
<div class="overlay"></div>  
<div id="our_mission">
    <div class="container">
        <div class="mission_content">
            {%for block in section.blocks limit:3 %}
                <div class="pillars">
                    <div class="pillers_title">
                        <h2>{{block.settings.eatfeedtitle}}</h2><span class="mission_item bowl" style="background-image :url({{ block.settings.eatfeedimage | img_url: '1920x' }});"></span>
                    </div>
                    <p>{{block.settings.eatfeedtext}}</p>
                </div>
                {% unless forloop.last == true %}
                <div class="dividers_hr"></div>
                {% endunless %}
            {% endfor %}
            <div class="clear"></div>
        </div>
        <div class="dividers_vr"></div>
    </div>
</div>

{% schema %}
  {
    "name": "about eat_feed_love",
    "settings": [      
        {
            "type": "header",
            "content": "about eat_feed_love"
        }
    ],
	"blocks" :[
        {
            "type": "header",
            "name": "abouteatfeed",
            "settings": [
                {
                    "type": "text",
                    "label": "eatfeed Title",
                    "id": "eatfeedtitle"
                },
                {
                    "type": "image_picker", 
                    "label": "eatfeed image",
                    "id": "eatfeedimage"
                },
                {
                    "type": "text",
                    "label": "eatfeed text",
                    "id": "eatfeedtext"
                }
            ]
		}    
    ],
    
    "presets": [
      {
        "category": "about eatfeed",
        "name": "about eatfeedlove",
        "settings": {
        }
      }
    ]

  }
{% endschema %}

{% javascript %}
{% endjavascript %}
